/*========================================
	Mixins
  ========================================*/
  
  $serif			:		'Calluna-Regular', 'Calluna', georgia, serif;
  $sans				:		 /*'Brandon Grotesque', 'Source Sans Pro', 'Futura Std', Futura,*/ 'Calluna Sans', 'calluna-sans','nimbus-sans','Montserrat', sans-serif;
  
  $white			:		#fff;
  $lightgrey		:		#f5f5f5;
  $darkgrey			:		#ddd;
  $black			:		#444;
  $green			:		#3fd4ad;
  
  $max-width		:		1100px;
  
  $padding			:		2em;
  $spacing			:		4em;
  $border			:		0.125em solid $green;