/*========================================
	Responsive
  ========================================*/
  
  @media only screen and (max-width: 40em) {
  
/*  header {
  	height: auto;
  	overflow: hidden;
  	nav {
  		width: 100%;
  		clear: both;
  		ul {
  			width: 100%;/* overflow: hidden;*!/
  			li {
  				padding: 0; margin: 0;
  				width: 25%; text-align: center;
  			}
  		}
  	}
  }*/
  
  .post-preview {
   	width: 100%;
  	margin-right: 0%;
  }
  

}