{% capture content %}

<header class="side-content">
	<h1 class="page-title">404</h1>
	<p>Page Not Found</p>
	<p>¯\_(ツ)_/¯</p>
</header>

<div class="page-content" >
	<img src="http://i0.kym-cdn.com/photos/images/original/000/610/390/2ba.gif" alt="I've made a huge, tiny, mistake" style="width: 100%;"/>
</div>


{% endcapture %}

{% include 'layouts/default' %}
