{% capture content %}
	<section class="content writing">
		<img src="http://i0.kym-cdn.com/photos/images/original/000/610/390/2ba.gif" alt="I've made a huge, tiny, mistake" style="width: 100%;"/><br>
		<!-- <h1>404</h1> -->
	</section>
{% endcapture %}
{% include 'layouts/default' %}
