<!DOCTYPE html>

	<html>
		<head>
			<title>Four Oh Four</title>
		</head>

		<body>
			<img src="http://i0.kym-cdn.com/photos/images/original/000/610/390/2ba.gif" alt="I've made a huge, tiny, mistake" style="width: 100%;"/>
		</body>

	</html>
