---
title: Concerts Archive
layout: page.njk
date: Last Modified
image: '/src/img/alvvays1.jpg'
---

{# <style>
    .concert-item {
        font-family: monospace;
        border: 0 none;
        border: 1px solid var(--underline);
        padding: 1em;
        margin-bottom: 1em !important;
        min-height: 5lh;
        font-size: 1.125rem;
    }
</style> #}


<ul class="archive journal-list">
{% for concert in concerts %}
<li class="concert-item">
    <span>
        {% if concert.link %}<a href="{{ concert.link }}">{% endif %}
        <strong class="journal-list-title">{{ concert.artists }}</strong>
        {% if concert.link %}</a>{% endif %}
        {% if concert.opener %}<br>with {{ concert.opener }}{% endif %}
        <br><span>
            {% if concert.venue %}@ {{concert.venue}}{% endif %}
            {% if concert.city %}in {{concert.city}}{% endif %}
        </span>
        {% if concert.event %}<br><em>{{concert.event}}</em>{% endif %}
    </span>
    <time>{{ concert.date }}</time>
    </li>
{% endfor %}
</ul>
