* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*========================================
	Reset
  ========================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; }

img {
  max-width: 100%; }

picture {
  display: block; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-golden-sm, .grid-golden-l {
  box-sizing: border-box;
  float: left; }

.grid-1 {
  width: 8.3333333333%; }

.grid-2 {
  width: 16.6666666667%; }

.grid-3 {
  width: 25%; }

.grid-4 {
  width: 33.3333333333%; }

.grid-5 {
  width: 41.6666666667%; }

.grid-6 {
  width: 50%; }

.grid-7 {
  width: 8.3333333333%; }

.grid-8 {
  width: 8.3333333333%; }

.grid-9 {
  width: 8.3333333333%; }

.grid-10 {
  width: 8.3333333333%; }

.grid-11 {
  width: 8.3333333333%; }

.grid-12 {
  width: 8.3333333333%; }

.grid-golden-sm {
  width: 38.2%;
  overflow: hidden; }

.grid-golden-l {
  width: 61.8%;
  overflow: hidden; }

*, html, body {
  font-size: 100%; }

body {
  font-family: 'warnock-pro', 'Calluna', georgia, serif;
  letter-spacing: -0.02rem;
  color: #444;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-feature-settings: "liga" "dlig";
  font-size: 1.125rem;
  line-height: 2.25rem;
  font-size: 1.25rem;
  line-height: 2.5rem; }
  @media screen and (max-width: 768px)  {
    body {
      font-size: 1.125rem;
      line-height: 2.25rem; } }
  @media screen and (max-width: 500px)  {
    body {
      font-size: 1rem;
      line-height: 2.125rem; } }

p a:not(img), header a, ul a:not(img) {
  border-bottom: 1.25px solid #3fd4ad; }
  p a:not(img):hover, header a:hover, ul a:not(img):hover {
    color: #3fd4ad; }

header a {
  border-bottom: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: Karla, 'warnock-pro', 'Calluna', georgia, serif, Helvetica, sans-serif;
  font-weight: normal;
  font-weight: bolder;
  font-weight: 600;
  font-weight: 400;
  /*font-weight: 700;*/
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 1.5rem 0;
  line-height: 3rem; }

h2 {
  margin: 1.5rem 0 1.5rem;
  font-size: 1.625rem;
  letter-spacing: -0.05rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase; }

h4 {
  font-size: 1rem;
  font-style: italic;
  font-weight: bold; }

.is-current-page {
  border-bottom: 2px double #3fd4ad; }

.post-thumb img {
  border: none; }

a:hover {
  color: #3fd4ad; }

.page-title {
  text-align: center; }
  .page-title:after {
    content: "";
    width: 2rem;
    height: 2px;
    display: block;
    margin: 2rem auto;
    overflow: hidden;
    background: #3fd4ad; }

.project-tags {
  list-style: none;
  padding: 0; }

.project-tags li::after {
  content: ','; }

.project-tags li:last-of-type::after {
  content: ""; }

.writing {
  font-family: 'warnock-pro', 'Calluna', georgia, serif;
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 48.2106681966%;
  margin-left: 25.8946659017%; }
  .writing h1 {
    font-family: 'warnock-pro', 'Calluna', georgia, serif;
    font-weight: 900;
    text-align: center; }
  .writing h2, .writing h3 {
    font-family: Karla, 'warnock-pro', 'Calluna', georgia, serif, Helvetica, sans-serif; }
  .writing:last-child {
    margin-right: 0; }
  .writing:after {
    clear: both;
    content: ""; }

blockquote {
  border-left: 0.1625rem solid #3fd4ad;
  margin-left: 0;
  padding-left: 2rem;
  box-sizing: border-box;
  margin: 1rem 0;
  padding-right: 2rem;
  font-family: 'warnock-pro', 'Calluna', georgia, serif, "Apercu Mono Regular";
  font-style: italic; }

code {
  font-family: 'source-code-pro', "Source Code Pro", monospace;
  background: #fff;
  padding: 0.25rem; }

pre {
  padding: 0.5rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 2rem 0; }

ul {
  line-height: 2.25rem;
  margin-left: 1.25rem; }

.pagination .inactive {
  cursor: auto;
  text-decoration: line-through; }

footer .grid-6:last-of-type {
  text-align: right; }

.pagination, .back-to {
  text-align: center;
  border-bottom: none; }

.is-current-page {
  color: #3fd4ad; }

.project-information {
  overflow: hidden; }

.project-preview h2 {
  line-height: 3rem; }
.project-preview .project-tags, .project-preview .date, .project-preview .work-location {
  line-height: 1.5rem; }
.project-preview .date {
  margin-top: -0.5rem; }

header, footer {
  font-weight: 300;
  font-size: 1rem;
  font-family: Karla, 'warnock-pro', 'Calluna', georgia, serif, Helvetica, sans-serif; }

.project-preview {
  font-family: Karla, 'warnock-pro', 'Calluna', georgia, serif, Helvetica, sans-serif; }

.project-information {
  font-family: Karla, 'warnock-pro', 'Calluna', georgia, serif, Helvetica, sans-serif;
  font-size: 1rem; }
  .project-information ul {
    margin-left: 0; }

*[rel="footnote"] {
  font-size: 75%;
  border-bottom: none;
  opacity: 0.5; }

body {
  background: #f0f3f5;
  background: #f2f2f2;
  background: #f8f8f8;
  background: #fbfbfb; }

.wrap {
  width: 90%;
  max-width: 68.75rem;
  margin: auto;
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .wrap:after {
    content: "";
    display: table;
    clear: both; }
  .wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px)  {
    .wrap {
      width: 95%; } }
  @media screen and (max-width: 500px)  {
    .wrap {
      width: 95%; } }

.page-content, .content {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 74.1053340983%;
  margin-left: 12.9473329508%;
  margin-right: 0; }
  .page-content:last-child, .content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px)  {
    .page-content, .content {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%;
      margin-left: 0%; }
      .page-content:last-child, .content:last-child {
        margin-right: 0; } }

.work {
  max-width: 68.75rem; }

img {
  max-width: 100%; }

header {
  padding: 2rem 0; }
  header img {
    display: inline-block;
    max-height: 4.5rem; }
  header nav {
    text-align: left; }

.site-brand {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 48.2106681966%; }
  .site-brand:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px)  {
    .site-brand {
      float: left;
      display: block;
      margin-right: 38.1982059067%;
      width: 100%;
      margin-right: 0; }
      .site-brand:last-child {
        margin-right: 0; } }

.site-nav {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 48.2106681966%;
  margin-right: 0; }
  .site-nav:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px)  {
    .site-nav {
      float: left;
      display: block;
      margin-right: 38.1982059067%;
      width: 100%;
      margin-right: 0; }
      .site-nav:last-child {
        margin-right: 0; } }
  .site-nav div {
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 46.288514824%; }
    .site-nav div:last-child {
      margin-right: 0; }
    .site-nav div:nth-child(2n) {
      margin-right: 0; }
    .site-nav div:nth-child(2n+1) {
      clear: left; }
  .site-nav .social-links {
    float: left;
    display: block;
    margin-right: 16.0363113405%;
    width: 100%;
    margin-right: 0; }
    .site-nav .social-links:last-child {
      margin-right: 0; }
  .site-nav a {
    display: block;
    margin-top: 0;
    margin-bottom: 0; }
  .site-nav .ss-icon {
    font-size: 0.875rem;
    float: left;
    max-width: 25%;
    margin-right: 1rem; }
    .site-nav .ss-icon:last-of-type {
      margin-right: none; }

.content-title {
  margin-top: 1rem; }

.post-preview {
  padding-top: 2rem;
  clear: both; }

.project-preview {
  display: block; }
  .project-preview:after {
    content: "";
    display: table;
    clear: both; }
  .project-preview .project-title {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 35.2633352458%; }
    .project-preview .project-title:last-child {
      margin-right: 0; }
  .project-preview .project-information {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 61.1580011475%;
    margin-right: 0; }
    .project-preview .project-information:last-child {
      margin-right: 0; }

.post-preview .post-preview-date {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 12.6423684045%; }
  .post-preview .post-preview-date:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px)  {
    .post-preview .post-preview-date {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 35.2633352458%; }
      .post-preview .post-preview-date:last-child {
        margin-right: 0; } }

.home-bio {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 74.1053340983%;
  margin-left: 12.9473329508%;
  margin-top: 4rem; }
  .home-bio:last-child {
    margin-right: 0; }

footer {
  clear: both;
  border-top: 1px solid #ddd;
  min-height: 5rem;
  line-height: 2.5rem;
  overflow: hidden;
  margin-top: 3rem;
  padding: 2.25rem 0;
  margin-top: 5rem; }
  footer a {
    margin: 0.5rem; }

.copyright {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .copyright:last-child {
    margin-right: 0; }

.footer-social {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  margin-right: 0;
  text-align: right; }
  .footer-social:last-child {
    margin-right: 0; }

@media only screen and (max-width: 40rem) {
  .copyright, .footer-social {
    width: 100%;
    text-align: center;
    float: none;
    margin-right: 0; } }

footer:nth-child(5) {
  color: #3fd4ad; }

::selection {
  background: #eee;
  background: #fff;
  background: rgba(63, 212, 173, 0.25);
  color: #444;
  padding: 0.5rem; }

p {
  margin: 1rem auto; }

.homepage_writings {
  margin-top: 4rem;
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 74.1053340983%;
  margin-left: 12.9473329508%; }
  .homepage_writings:last-child {
    margin-right: 0; }
  @media screen and (max-width: 500px)  {
    .homepage_writings {
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%;
      margin-left: 0%; }
      .homepage_writings:last-child {
        margin-right: 0; } }

.home-writings {
  border-top: 1px dotted #ddd; }

.home-writings:first-of-type {
  border-top: none; }

.home-writings {
  padding: none;
  padding: 1rem 0; }
  .home-writings span {
    font-family: Karla, 'warnock-pro', 'Calluna', georgia, serif, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    margin-right: 1rem;
    height: 100%; }

.home-writings:first-of-type {
  padding-top: 0; }

.external-icon {
  float: right; }

.project-information {
  margin-bottom: 2rem;
  overflow: hidden;
  display: block; }
  .project-information h2 {
    margin-top: 0.5rem; }

.post .project-information {
  border-bottom: 1px solid #ddd; }

.post img {
  margin: 2rem auto; }

.related-posts .related-post {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 48.2106681966%; }
  .related-posts .related-post:last-child {
    margin-right: 0; }
  .related-posts .related-post:nth-child(2n) {
    margin-right: 0; }
  .related-posts .related-post:nth-child(2n+1) {
    clear: left; }

.work-list {
  display: block; }
  .work-list:after {
    content: "";
    display: table;
    clear: both; }
  .work-list table, .work-list tr {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 100%; }
    .work-list table:last-child, .work-list tr:last-child {
      margin-right: 0; }
  .work-list tr {
    border-top: 1px dotted #ddd; }
  .work-list tr td:nth-of-type(1) {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 22.3160022949%; }
    .work-list tr td:nth-of-type(1):last-child {
      margin-right: 0; }
  .work-list tr td:nth-of-type(2) {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 35.2633352458%; }
    .work-list tr td:nth-of-type(2):last-child {
      margin-right: 0; }
  .work-list tr td:nth-of-type(3) {
    float: left;
    display: block;
    margin-right: 3.5786636068%;
    width: 35.2633352458%;
    margin-right: 0; }
    .work-list tr td:nth-of-type(3):last-child {
      margin-right: 0; }

.disqus {
  display: block;
  clear: both; }

.back-to {
  clear: both;
  float: none;
  display: block;
  margin-bottom: 4rem; }

hr {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  border-top: 1px solid #ddd;
  width: 50%;
  max-width: 10rem; }

.project-list {
  display: block;
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 74.1053340983%;
  margin-left: 12.9473329508%; }
  .project-list:after {
    content: "";
    display: table;
    clear: both; }
  .project-list:last-child {
    margin-right: 0; }

.project-year {
  display: block; }
  .project-year:after {
    content: "";
    display: table;
    clear: both; }

.project-year--year {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 30.1138947236%; }
  .project-year--year:last-child {
    margin-right: 0; }

.project-year--projects {
  float: left;
  display: block;
  margin-right: 4.8291579146%;
  width: 65.0569473618%;
  margin-right: 0;
  list-style: none;
  margin-left: 0; }
  .project-year--projects:last-child {
    margin-right: 0; }

.page-excerpt {
  float: left;
  display: block;
  margin-right: 3.5786636068%;
  width: 74.1053340983%;
  margin-left: 25.8946659017%; }
  .page-excerpt:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px)  {
    .page-excerpt {
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 3.5786636068%;
      width: 100%; }
      .page-excerpt:last-child {
        margin-right: 0; } }

.front-page-photo-byline {
  font-size: 1rem;
  font-style: italic;
  text-align: right;
  margin-bottom: 0; }

/*========================================
	Responsive
  ========================================*/
@media only screen and (max-width: 40em) {
  .post-preview {
    width: 100%;
    margin-right: 0%; }
  footer .grid-6, footer .grid-6:last-of-type {
    width: 100%;
    text-align: center;
    float: none; }
  .writing {
    font-size: 1em; } }

a {
  transition-duration: 0.15s; }

a img:hover {
  opacity: 0.75; }
