---
title: Dinner Party
layout: base.njk
image: /src/img/2025-12-06-og.jpg
emoji: '🍽️'
---

<style>
    body {
        --serif: schoolbook-condensed, ivypresto-text, serif;
        font-family: var(--serif);
        text-transform: uppercase;
        * {
            font-family: inherit;
        }
        --gold: #F4CD63;
        --white: #f4f5ed;
    }
    ::selection {
        background: var(--gold);
        color: var(--background);
    }
    #main {
        margin-block: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .site-header,
    .site-footer {
        display: none;
    }
    .credit {
        font-family: var(--sans);
        font-size: 0.625em;
        text-transform: uppercase;
    }
    .menu {
        list-style: none;
        {# list-style: '◦'; #}
        padding: 0;
        margin: 0;
    }
    .menu li {
        margin-bottom: 1lh;
    }
    .credit {
        display: block;
        opacity: 0.8;
    }
    header {
        margin-bottom: 1lh;
    }
    a.credit,
    .credit a {
        text-decoration: none;
    }
    a.credit:hover,
    .credit a:hover {
        text-decoration: wavy underline;
        color: var(--red);
    }

    .garland{
        rotate: deg;
        letter-spacing: -0.5ch;

        :nth-child(4n+1) {
            color: var(--red);;
        }
        :nth-child(4n+2) {
            color: #ccc;
        }
        :nth-child(4n+3) {
            color: var(--primary-color);
            {# color: #84D6A1; #}
        }
        :nth-child(4n+4) {
            color: var(--purple);
        }
    }
    h1 {
        color: var(--gold);
        {# text-transform: uppercase; #}
        font-size: 3.5em;
        font-weight: 400;
        margin-block-end: 1em;
        {# letter-spacing: 0.05em; #}
        {# text-shadow:
        -1px -1px 0 var(--body-color),  /* Top-left shadow */
        1px -1px 0 var(--body-color),  /* Top-right shadow */
        -1px  1px 0 var(--body-color),  /* Bottom-left shadow */
        1px  1px 0 var(--body-color);  /* Bottom-right shadow */ #}
    }
</style>

<main class="wrap" style="text-align: center;">
    <header>
        
        <h1>15 March</h1>
        <p><small style="opacity: 0.66;">5:30</small><br> Farfalle al Ragù <br>Dinner</p>
        <p><small style="opacity: 0.66;">(6:00)</small><br> <a href="https://youtu.be/FEW5vZ9hZMg?si=BBTz1jflN6DoVWV7&t=43">Oscars</a> watch to follow</p>
    </header>
    
    {# <p class="garland"><span>◦</span><span>◦</span><span>◦</span><span>◦</span></p> #}
    {# <ul class="menu">
    <li>Farfalle al Ragù</li>
    <p style="color: var(--gold);">★</p>
    <li><em>Bring a snack or dessert to watch The Oscars after dinner. <br>Bonus points if you can thematically link it to an award nominee.</em></li>
    </ul> #}
    <p style="color: var(--gold);">★</p>
    <p><em style="text-transform: none;">Bring a snack or dessert to watch the Oscars after dinner. <br>Bonus points if you can thematically link it to an award nominee.</em></p>
    <p style="color: var(--gold);">★</p>

    <p class="credit" style="line-height: 0.8; border: 1px solid; display: inline-block; padding: 1ch; border-radius: 50%;">&nbsp;<br><small style="font-family: var(--serif);">RSVP</small><br><br><!--–<br>-->7<br>&nbsp;</p>

    <div style="margin-block-start: 4em; width: fit-content; margin-inline: auto;">
        <strong>Past</strong>
        <ul class="[archive] [journal-list] dinner-archive">
            <li><a href="/dinner/2025/12/">6 December 2025</a></li>
        </ul>
    </div>
</main>

<link rel="stylesheet" href="https://use.typekit.net/vay8ilm.css">