{% capture content %}

	<figure class="about__image">
		<img src="{{ meta.profile-picture }}" alt="{{ site.title }}"/>
		{% if meta.profile-picture-byline %}
			<figcaption class="front-page-photo-byline">Photo by <a href="{{ meta.profile-picture-bylink }}">{{ meta.profile-picture-byline }}</a></figcaption>
		{% endif %}
	</figure>

	<section>
		<div class="side-content">
			<!-- <h1 class="page-title">Jon Dueck</h1> -->
			<p>Designer & Developer<br>
			Winkler, MB</p>
		</div>

		<div class="page-content" >
			{{ body }}
		</div>

	</section>

{% endcapture %}

{% include 'layouts/default' %}
