---
title: Library
permalink: "/library/"
layout: page
description: Recommended books – design, fiction, etc.
updated: true
collections:
- topic: Design
  books:
  - nested: The Shape of Design
    author: Frank Chimero
    cover: https://shapeofdesignbook.com/img/cover.svg
    link:
  - nested: Design as Art
    author: Bruno Munari
    link:
    cover: https://images-na.ssl-images-amazon.com/images/I/61C0IUq8ufL.jpg
  - nested: The Medium is the Massage
    author: Marshall McLuhan & Quentin Fiore
    link:
    cover: https://images.gr-assets.com/books/1328051240l/5998892.jpg
  - nested: Nicely Said
    author: Nicole Fenton & Kate Kiefer Lee
    link:
    cover: https://images.gr-assets.com/books/1400891575l/18847936.jpg
  - nested: Don't Call It That
    author: Eli Altman
    link:
    cover: https://images-na.ssl-images-amazon.com/images/I/51xzuTsaNTL._SX343_BO1,204,203,200_.jpg
  - nested: The Politics of Design
    author: Ruben Pater
    link:
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1461083242l/27150875.jpg
  - nested: In Praise of Shadows
    author: Jun'ichirō Tanizaki
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1362261177l/9550.jpg 
- topic: Magazines
  books:
  - nested: Offscreen
    author: Kai Brach
    cover: https://media.magpile.com/covers/3/U8QpZXywdpHh7EVf_400x0.png
    link: https://www.offscreenmag.com/
  - nested: The Manual
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1340651966l/15722156.jpg
- topic: Etc
  books:
  - nested: Invisible Cities
    author: Italo Calvino
    cover: https://images-na.ssl-images-amazon.com/images/I/31WiGsdx4%2BL._SX319_BO1,204,203,200_.jpg
  - nested: The Mezzanine
    author: Nicholson Baker
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1589849092l/8579102._SY475_.jpg
  - nested: The Skin We're In
    author: Desmond Cole
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1570443003l/50870424._SX318_SY475_.jpg
  - nested: Trick Mirror
    author: Jia Tolentino
    cover: https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1544069605l/43126457.jpg
---

<p>For more, <a href="https://www.goodreads.com/jondueck">find me on Goodreads</a>.</p>

{% for collection in page.collections %}

  <h2>{{ collection.topic }}</h2>
  {% if collection.books %}
    <ul class="library-list">
      {% for book in collection.books %}
        <li class="library-list__item">
          {% if book.cover %}<img src="{{ book.cover }}" alt="Book cover of {{ book.nested }}" class="library-list__cover">{% endif %}
          <em>{{ book.nested }}</em> <br> {{ book.author }}</li>
      {% endfor %}
    </ul>
  {% endif %}

{% endfor %}
