---
title: Library
layout: page.njk
date: Last Modified
description: A collection of my favourite books on design, fiction, and non-fiction.
---


{% for topic in library %}
    <h2>{{ topic.title}}</h2>
    <ul class="library-list">
    {% for book in topic.books %}
        <li>
            <img src="{{ book.cover }}" alt="" class="library-cover">
            <span class="library-title">{{ book.title }}</span><br>
            <span class="library-author">{{ book.author }}</span>
        </li>
    {% endfor %}
    </ul>

{% endfor %}

<p><a href="https://www.goodreads.com/user/show/5173121-jon-dueck" rel="me">Find me on Goodreads.</a></p>