---
layout: base.njk
title: Photography
description: Selected photos.
subtitle: 
redirect_from: "/photos"
---

<div class="wrap">
  <h1 class="page-title">Photography</h1>
</div>

<section class="workboard photography">
  {% for piece in photos %}
  <div class="workboard-item">
    {% if piece.link %}<a href="{{ piece.link }}">{% endif %}
      <img src="{{ piece.img }}" alt="{{piece.alt}}" {% if piece.title %}title="{{piece.title}}"{%endif%} {% if piece.aspectRatio %} data-ratio="{{piece.aspectRatio}}"{%endif%} loading="lazy">
    {% if piece.link %}</a>{% endif %}
    </div>
  {% endfor %}
</section>