---
title: My Favourite Recipes
layout: page.njk
date: Last Modified
updated: true
---

<ul>
    {% for recipe in recipes %}
    
        <li>
            <a href="{{ recipe.url }}">
                {# {% if recipe.img %}<img src="{{ recipe.img }}" alt="" loading="lazy">{% endif %} #}
            <strong>{{ recipe.title }}</strong>
            </a> 
            {% if recipe.author %} by {{ recipe.author }} {% if recipe.publisher %} for {% endif %}{% endif %} 
            {% if recipe.publisher %}{{ recipe.publisher }}{% endif %}
        </li>
    {% endfor %}
</ul>