---
layout: base.njk
title: Work
description: A portfolio of sorts.
subtitle: Case studies…someday?
---

{# <ul reversed class="work-archive">
{% for post in collections.work | reverse %}
  <li>
    <img src="{{ post.data.thumb }}" alt="">
    <a href="{{ post.url | url }}" class="postlist-link">{{ post.data.title }}</a>
    <time datetime="{{ post.date.toUTCString() }}">{{ post.date | readableYear}}</time>
  </li>
{% endfor %}
</ul> #}

<div class="wrap">
  <h1 class="page-title">Work</h1>
  <p>More, someday. Contact <a href="https://collectif.co">Collectif</a> to make some more.</p>
</div>

<section class="workboard">
  {% for piece in work %}
    {% if piece.link %}<a href="{{ piece.link }}">{% endif %}
      <img src="{{ piece.img }}" alt="{{piece.alt}}" class="workboard-item" {% if piece.title %}title="{{piece.title}}"{%endif%}>
    {% if piece.link %}</a>{% endif %}
  {% endfor %}
</section>

{# <img src="/src/img/wety.svg" style="width: 100%;" alt="works end, thank you"> #}