---
layout: page.njk
title: Work
description: A portfolio of sorts.
subtitle: Coming back soon.
---

{# <ul reversed class="work-archive">
{% for post in collections.work | reverse %}
  <li>
    <img src="{{ post.data.thumb }}" alt="">
    <a href="{{ post.url | url }}" class="postlist-link">{{ post.data.title }}</a>
    <time datetime="{{ post.date.toUTCString() }}">{{ post.date | readableYear}}</time>
  </li>
{% endfor %}
</ul> #}