@font-face {
  font-family: 'Post Grotesk';
  src: url('/assets/webfonts/PostGrotesk-Book.eot');
  src: url('/assets/webfonts/PostGrotesk-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('/assets/webfonts/PostGrotesk-BookItalic.eot');
  src: url('/assets/webfonts/PostGrotesk-BookItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}
