//	Layout

body {
	// background: #f2f2f2;
	// background: #f8f8f8;
	background-color: $background-color;
}

.wrap {
	width: 90%;
	@include outer-container();
	@include row();
}

.page-content {
	@include omega();
	margin: 0;
	// min-height: calc(75vh - 15rem);

	@media (min-width: 45rem) {
		@include span-columns(6 of 8);
		@include omega();
	}

	@include media($mobile) {
		@include span-columns(8 of 8);
		@include shift(0);
	}
}

.post-preview {
	@include row();
}

.post-preview__date {
	@include span-columns(2 of 6);
	color: $grey;
	@include media($mobile) {
		@include span-columns(3 of 8);
	}
}

.post-preview__title {
	@include span-columns(4 of 6);
	@include omega();
	display: inline-block;

	.external-icon {
		height: #{0.5 * $base-font-size};
		margin-right: $line-height;
	}

}

::selection {
	background: rgba($primary-color, 0.25);
	color: $body-text-color;
}

.external-icon {
	float: right;
}

.disqus {
	display: block;
	clear: both;
}

.back-to {
	clear: both;
	float: none;
	display: block;
	margin-bottom: $line-height-2x;
}

.project-list {
	@include row();
}

.page-excerpt {
	@include span-columns(6 of 8);
	@include shift(2 of 8);
	@include omega();

	@include media($medium) {
		@include shift(0);
		@include span-columns(8 of 8);
	}
}

.side-content {
	margin: 0;
	margin-bottom: $line-height-2x;
	@include row();
	@media (min-width: 45rem) {
		@include span-columns(2 of 8);
	}
}

.post-content {
	@media (min-width: 50rem) {
		@include span-columns(6 of 8);
		@include shift(1 of 8);
		@include omega();
	}
}

.work-preview {
	@include span-columns(3 of 6);
	@include omega(2n);
	margin-bottom: $gutter;
}

.pagination {
	margin-top: $line-height;
	&--older {
		float: left;
	}
	&--newer {
		float: right;
	}
}

.about__image {
	margin-bottom: $gutter;
}
