hr {
	margin-top: $line-height;
	margin-bottom: $line-height;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 0 none;
	border-top: 1px solid $light-grey;
	width: 50%;
	max-width: 10rem;
}

table {
	vertical-align: top;
}

tr,
td {
	vertical-align: top;
}
