//	Type

$serif: 'Calluna', 'warnock-pro', georgia, serif;
$sans: 'Post Grotesk', 'post-grotesk', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', helvetica, sans-serif;
$mono: 'source-code-pro', 'Source Code Pro', monospace;

body {
	color: $body-text-color;
	font-family: $sans;
	font-size: $base-font-size;
	line-height: $line-height-unitless;
	// font-weight: 400;
	@include media($medium) {
		font-size: 1.125rem;
	}
	@include media($small) {
		font-size: 1rem;
	}
}

strong,
b {
	font-weight: bold;
}

.post,
.post-content,
.page-content {
	font-family: $serif;
}

.page-content {
	//font-size: #{(1.25/1.125) * $base-font-size};
}

.page-content,
.post-content {
	a {
		text-decoration: none;
		background-image: linear-gradient(to bottom, rgba($grey, .8) 25%, rgba($grey, 0) 25%);
		background-repeat: repeat-x;
		background-size: 2px 2px;
		background-position: 0 #{0.625 * $line-height};
		position: relative;
		&:hover {
			background-image: linear-gradient(to bottom, rgba($link-text-color, .8) 25%, rgba($link-text-color, 0) 25%);
		}
		.blog-preview & {
			background-image: none;
			&:hover {
				background-image: none;
			}
		}
	}
}

.blog-preview a {
	background-image: none;
	&:hover {
		background-image: none;
	}
}

a {
	transition-duration: 0.15s;
	&:hover {
		color: $primary-color;
	}

	img {
		background-image: none;
		&:hover {
			background-image: none;
		}
	}

}

.site-header,
.site-footer {
	a {
		text-decoration: none;
		border-bottom: 0 none;
		background-image: none;
		&:hover {
			background-image: none;
		}
	}
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans;
	font-weight: normal;
}

h1 {
	font-size: #{2 * $base-font-size};
	margin-bottom: $line-height;
}

h2 {
	font-size: #{(1.2 * $base-font-size)};
	margin-bottom: $line-height;
}

h3 {
	color: tint($black, 50%);
	font-size: $base-font-size;
}

h4 {
	font-size: #{0.75 * $base-font-size};
	font-weight: bold;
	text-transform: uppercase;
}

p {
	margin-bottom: $line-height;
}

.page-title {
	font-size: $base-font-size;
	// font-weight: bold;
	color: $body-text-color;
}

.post-title {
	text-align: center;
}

.post-header {
	&:after {
		background: $green;
		content: '';
		display: block;
		height: 2px;
		width: $line-height;
		margin: $gutter auto;
		overflow: hidden;
	}
}

.project-tags {
	list-style: none;
	padding: 0;
}

.work__tag {
	display: block;
}

blockquote {
	border-left: 0.125rem solid $green;
	font-family: $serif;
	font-style: italic;
	margin-left: 0;
	padding-left: $gutter;
	box-sizing: border-box;
	// font-style: italic;
	padding-right: $line-height;
	margin: $line-height 0;
}

ul,
ol {
	margin-left: 1.25rem;
	margin-bottom: $line-height;
}

.pagination {
	.inactive {
		cursor: auto;
		text-decoration: line-through;
	}
}

.pagination,
.back-to {
	border-bottom: 0 none;
	text-align: center;
}

.front-page-photo-byline {
	color: $grey;
	font-size: 1rem;
	margin-bottom: 0;
	text-align: right;
	font-style: normal;
}

.post-synopsis {
	font-style: italic;
}

.post-synopsis,
.post-meta {
	color: $grey;
	display: block;
	text-align: center;
}

.post-meta {
	font-family: $sans;
}

// sup {
// 	vertical-align: baseline;
// 	position: relative;
// 	top: -0.4rem;
// 	font-size: 75%;
//
// 	[rel='footnote'] {
// 		color: $grey;
// 	}
//
// 	a {
// 		text-decoration: none;
// 	}
// }

.work-preview {
	a {
		background-image: none;
		&:hover {
			background-image: none;
		}
	}
}

.side-content {
	color: $grey;
}
