.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-golden-sm, .grid-golden-l {
	box-sizing: border-box;
	float: left;
}

.grid-1 	{	width: 8.3333333333333%;	}
.grid-2 	{	width: 16.666666666666%;	}
.grid-3 	{	width: 25%;					}
.grid-4 	{	width: 33.333333333333%;	}
.grid-5 	{	width: 41.666666666666%;	}
.grid-6 	{	width: 50%;					}
.grid-7 	{	width: 8.3333333333333%;	}
.grid-8 	{	width: 8.3333333333333%;	}
.grid-9 	{	width: 8.3333333333333%;	}
.grid-10 	{	width: 8.3333333333333%;	}
.grid-11 	{	width: 8.3333333333333%;	}
.grid-12	{	width: 8.3333333333333%;	}

.grid-golden-sm 	{
	width: 38.2%;
	overflow: hidden;
}

.grid-golden-l 	{
	width: 61.8%;
	overflow: hidden;
}