//	
//	Layout
//

body {
	background: $lightgrey;
	margin-top: 1rem;
	background: #f2f2f2;
}

.wrap {
	width: 90%;
	max-width: $max-width;
	margin: auto;
	@include outer-container();
	@include row();
	@include media($mobile) {
		width: 95%;
	}
}

.page-content {
	@include span-columns(6 of 8);
	@include shift(1 of 8);
	@include omega();
	@include media($mobile) {
		@include span-columns(8 of 8);
		@include shift(0);	
	}
}

.work {
	max-width: 1100px;
}

img {
	max-width: 100%;
}

header {
	text-align: center;
	padding: 2rem 0;
	img { 
		display: inline-block; 
		max-height: 4.5rem;
	}

	nav {
		text-align: center;
		font-family: $sans;
		@include span-columns(4 of 8);
		@include shift (2 of 8);
		a {
			display: inline-block;
			margin: 1.25rem 1rem 0;
		}
		li:nth-of-type(2) a{
			margin-top: 0;
			border-bottom: none;
 		}
		li:nth-of-type(2) a:hover{
			opacity: 0.8;
		}
		ul {
			list-style: none;
			margin: auto;
			overflow: hidden;
			padding-left: 0;
			
			li {
				height: 4.5rem;
				float: left;
				@include span-columns (2 of 4);
				@include media($mobile) {
					@include span-columns(1 of 3);
				}
			}
			li:first-of-type {
				text-align: right;
				@include span-columns (1 of 4);
				@include media($mobile) {
					@include span-columns(1 of 3);
				}
			}
			li:last-of-type {
				text-align: left;
				@include span-columns (1 of 4);
				@include media($mobile) {
					@include span-columns(1 of 3);
				}
			}
	
		}
		@include media($mobile) {
			@include span-columns(8 of 8);
			@include shift (0 of 8);
		}
		
	}
}

.content-title {
	margin-top: 1rem;
}

.post-preview {
	padding-top: 2rem;
	clear: both;
}

.project-preview {
	@include span-columns(4 of 8);
	&:nth-of-type(2n+1) {
		@include omega();
		clear: none;
	}
	&:nth-of-type(2n) {
		clear: both;
	}
	&:nth-of-type(1) {
		@include span-columns(8);
	}
}

.post-preview {
	.post-preview-date {
		@include span-columns(1 of 6);
		@include media($mobile) {
			@include span-columns(3 of 8);
		}
	}
}	

.home-bio {
	@include span-columns(6 of 8);
	@include shift(1);
	margin-top: $spacing;
}

footer {
	clear: both;
	border-top: 1px solid $darkgrey;
	min-height: 5rem;
	line-height: 2.5rem;
	a {
		margin: 0.5rem;
	}
	overflow: hidden;
	margin-top: 3rem;
	padding: 1rem 0;
	margin-top: 5rem;
}

footer:nth-child(5) {
	color: $green;
}

::selection {
	background: #eee;
	background: #fff;
	background: rgba(63,212,173,0.25);
	color: #444;
	padding: 0.5rem;

}

p {
	margin: 1rem auto;
}

.homepage_writings {
	margin-top: 4rem;
	@include span-columns(6 of 8);
	@include shift (1);
	@include media($mobile) {
		@include span-columns(8 of 8);
		@include shift(0);
	}
}

.home-writings {
	border-top: 1px dotted #ddd;
}

.home-writings:first-of-type {
	border-top: none;
}

.home-writings{
	padding: none;
	padding: 1rem 0;
	span { 
		font-family: $sans; 
		font-size: 0.75rem;
		font-weight: 600; 
		margin-right: 1rem; 
		height: 100%;
	}
}

.home-writings:first-of-type {
	padding-top: 0;
}

.external-icon {
	float: right;
}

.project-information {
	margin-bottom: 2rem;
	overflow: hidden;
	display: block;
	h2 {
		margin-top: 0.5rem;
	}
}

.post .project-information {
	
	border-bottom: 1px solid $darkgrey ;
//	@include span-columns(6 of 8);
//	@include shift(2 of 8);
}

.post {
	img {
		margin: 2rem auto;
	}
}

.related-posts {
	.related-post {
		@include span-columns(4);
		@include omega(2n);
	}
}

.work-list {
	@include row();
	table, tr {
		@include span-columns(8);
	}
	tr {
		border-top: 1px dotted #ddd;
	}
	tr td:nth-of-type(1) {
		@include span-columns(2 of 8);
	}
	tr td:nth-of-type(2) {
		@include span-columns(3 of 8);
	}
	tr td:nth-of-type(3) {
		@include span-columns(3 of 8);
		@include omega();
	}
}