/*========================================
	Mixins
  ========================================*/
  
  $serif			:		'Calluna-Regular', 'Calluna', georgia, serif;
  $sans				:		"Apercu Mono Regular",'Apercu Mono','Calluna Sans', 'calluna-sans','Montserrat', Helvetica, sans-serif;
//  $sans				:		Europa;
  
  $white			:		#fff;
//  $lightgrey		:		#f5f5f5;
  $lightgrey		:		#f0f3f5;
  $darkgrey			:		#ddd;
  $black			:		#444;
  $green			:		#3fd4ad;
  
//  $max-width		:		1100px;
  
  $padding			:		2rem;
  $spacing			:		4rem;
  $border			:		0.125rem solid $green;
  $border			:		1.5px solid $green;
  
  $grid-columns	: 			8;
  $gutter			:		2rem;
  $max-width		:		rem(1100);
  $visual-grid		: 		false;
  $visual-grid-index:		back;
  $visual-grid-color: 		rgba(0, 0, 15, .1);
  $mobile			: 		new-breakpoint(max-width 500px 4);
  
  
  @mixin box-sizing() {
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	-o-box-sizing: border-box;
  	box-sizing: border-box;
  }