// Responsive

@media only screen and (max-width: 40em) {

  .post-preview {
    width: 100%;
    margin-right: 0%;
  }

  footer {
    .grid-6,
    .grid-6:last-of-type {
      width: 100%;
      text-align: center;
      float: none;
    }
  }
  .writing {
    font-size: 1em;
  }
}
