//
//	Type
//

$serif			:		'warnock-pro', 'Calluna', georgia, serif;
$sans				:		Karla, $serif, Helvetica, sans-serif;
//$sans				:		'Maison Neue Medium', 'Maison Neue Book', Karla, Helvetica, sans-serif;
$mono				: 'source-code-pro', "Source Code Pro", monospace;

*, html, body {
	font-size: 100%;
}

body {
	font-family: $serif;
	letter-spacing: -0.02rem;
	color: $black;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-feature-settings: "liga""dlig";
	font-size: 1.125rem;
	line-height: 2.25rem;
//	font-family: calluna;
	font-size: 1.25rem;
	line-height: 2.5rem;
	@include media($medium) {
		font-size:  1.125rem;
		line-height: 2.25rem;
	}
	@include media($small) {
		font-size:  1rem;
		line-height: 2.125rem;
	}
}


p a:not(img),
header a,
ul a:not(img) {
	border-bottom: 1.25px solid $green;
	&:hover {
		color: $green;
	}
}

header a {
	border-bottom: none;
}

// Headings

h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
	font-weight: normal;
	font-weight: bolder;
	font-weight: 600;
	font-weight: 400;
	/*font-weight: 700;*/
	-webkit-font-smoothing: antialiased;
}

h1 {
//	font-size: 2.5rem;
	font-size: 3rem;
	font-weight: 500;
	margin: 1.5rem 0;
	line-height: 3rem;
}

h2 {
	margin: 1.5rem 0 1.5rem;
	font-size: 1.625rem;
	letter-spacing: -0.05rem;
	// font-weight: 700;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.125rem;
	font-weight: bold;
	text-transform: uppercase
}

h4 {
	font-size: 1rem;
	font-style: italic;
	font-weight: bold;
}

// Header & Menu

//header {
//	font-weight: 600;
//}

.is-current-page {
	border-bottom: 2px double $green;
}

.post-thumb img {
	border: none;
}

a:hover {
	color: $green;
}

.page-title {
	text-align: center;
	&:after {
		content: "";
		width: 2rem;
		height: 2px;
		display: block;
		margin: 2rem auto;
		overflow: hidden;
		background: $green;
	}
}

.project-tags {
	list-style: none;
	padding: 0;
}

.project-tags li::after {
	content: ',';
}
.project-tags li:last-of-type::after {
	content: "";
}

.writing {
	font-family: $serif;
	h1 {
		font-family: $serif;
		font-weight: 900;
		text-align: center;
	}
	h2, h3 {font-family: $sans; }
	@include span-columns(4 of 8);
	@include shift(2 of 8);
	&:after {
		clear:  both;
		content: "";
	}
}

blockquote {
	border-left: 0.1625rem solid $green;
	margin-left: 0;
	padding-left: 2rem;
	box-sizing: border-box;
//	font-style: italic;
	margin: 1rem 0;
	padding-right: 2rem;
	font-family: $serif,"Apercu Mono Regular";
	font-style: italic;
}

code {
	font-family: $mono;
	background: #fff;
	padding: 0.25rem;
}

pre {
	padding: 0.5rem;
	word-wrap: break-word;
	white-space: pre-wrap;
	margin: 2rem 0;
}

ul {
	line-height: 2.25rem;
	margin-left: 1.25rem;
}

.pagination .inactive {
	cursor: auto;
	text-decoration: line-through;
}

footer .grid-6:last-of-type {
	text-align: right;
}

.pagination, .back-to {
	text-align: center;
	border-bottom: none;
}

.is-current-page {
	color: $green;
}

.project-information {
	// font-family: $serif;
	// font-size: 1.125rem;
	// div:first-of-type p:first-of-type {
	// 	font-weight: bolder;
	// 	font-weight: 700;
	// 	font-style: italic;
	// 	background: green;
	// }
	overflow: hidden;
}

.project-preview {
	h2 {
		line-height: 3rem;
	}
	.project-tags, .date,  .work-location {
		line-height: 1.5rem;
	}
	.date {
		margin-top: -0.5rem;
	}
}

header,
footer {
	font-weight: 300;
	font-size: 1rem;
	font-family: $sans;
}

.project-preview {
	font-family:  $sans;
}

.project-information {
	font-family: $sans;
	font-size: 1rem;
	ul {
		margin-left: 0;
	}
}

// Footnotes
*[rel="footnote"] {
	font-size: 75%;
	border-bottom: none;
	opacity: 0.5;
}
