@import 'bourbon';
@import 'neat';

@import 'mixins';

@import 'reset';

@import 'grid';

@import 'type';

@import 'layout';

@import 'responsive';

hr {
	content: "";
	width: 2rem;
	height: 2px;
	display: block;
	margin: 2rem auto;
	overflow: hidden;
	background: $green;
	background: $darkgrey;
	border: none;
}