<link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
{% if emoji %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ emoji }}</text></svg>">
{% else %}
    <link rel="icon" href="/src/img/favicons/favicon.svg" type="image/svg+xml">
{% endif %}
<link rel="apple-touch-icon" href="/src/img/favicons/apple-touch-icon.png"><!-- 180×180 -->
<link rel="manifest" href="/manifest.webmanifest">
{# <meta name="theme-color" content="#247f5e"> #}