<div class="wrap">
	<footer>
		<section class="grid-6">
			<a href="/colophon">
				{% capture currentyear %}{{site.date | date: "%Y"}}{% endcapture %}
				
				{% if currentyear != year %}
					&copy; 2014 Jonathan Dueck
				{% else if %}
					&copy; 2014–{{ 'now' | date: "%Y" }} Jonathan Dueck
				{% endif %}
			</a>
		</section>
		
		<section class="grid-6">
			<!--<h2>Social</h2>-->
			<a href="http://twitter.com/jondueck" class="ss-icon">twitter</a>
			<a href="http://dribbble.com/jondueck" class="ss-icon">dribbble</a>
			<a href="http://vimeo.com/jondueck" class="ss-icon">vimeo</a>
			<!--<a href="http://be.net/jondueck" class="ss-icon">behance</a>-->
			<a href="http://instagram.com/jondueck" class="ss-icon">instagram</a>
			<a href="http://www.rdio.com/people/JonDueck/" class="ss-icon">rdio</a>
		
		</section>		
	
	</footer>
</div>