<footer class="wrap grid-wrap site-footer">
    <span>&copy; 2014–{{ helpers.currentYear() }}</span>
    
    <nav>
      <menu aria-label="Secondary Navigation">
        <li><a href="/colophon/">Colophon</a></li>
        <li><a href="/library/">Library</a></li>
        <li><a href="/photography/">Photos</a></li>
        <li><a href="/feed.xml">RSS Feed</a></li>
      </menu>
    </nav>
    
    <link rel="stylesheet" href="https://use.typekit.net/lxx1nqh.css">

</footer>