<div class="wrap">
<footer>
		<section class="grid-6">
			<!--<h2>Location</h2>
			Winkler/Winnipeg, Manitoba
			The Great White North-->
			&copy; Jonathan Dueck 2014
		</section>
		
		<section class="grid-6">
			<!--<h2>Social</h2>-->
			<a href="http://twitter.com/jondueck" class="ss-icon">twitter</a>
			<a href="http://dribbble.com/jondueck" class="ss-icon">dribbble</a>
			<a href="http://vimeo.com/jondueck" class="ss-icon">vimeo</a>
			<!--<a href="http://jondueck.tumblr.com" class="ss-icon">tumblr</a>-->
			<a href="http://be.net/jondueck" class="ss-icon">behance</a>
			<a href="http://instagram.com/jondueck" class="ss-icon">instagram</a>
			<a href="http://www.rdio.com/people/JonDueck/" class="ss-icon">rdio</a>
			<!--<a href="http://www.last.fm/user/dueckjon" class="ss-icon">lastfm</a>
			<a href="https://github.com/jondueck" class="ss-icon">octocat</a>
			<a href="http://www.linkedin.com/in/jondueck" class="ss-icon">linkedin</a>
			<a href="https://readmill.com/jondueck" class="ss-icon">readmill</a>-->
		
		</section>		
	
</footer>
	</div>