<div class="wrap">
	<footer>
		<section class="grid-6">
			<a href="/colophon">
<!--				{% capture currentyear %}{{site.date | date: "%Y"}}{% endcapture %}
				
				{% if currentyear != year %}
					&copy; 2013 Jonathan Dueck
				{% else if %}-->
					&copy; 2014–{{ site.time | date: '%y' }} Jonathan Dueck
<!--			{% endif %}-->

				&copy; 2014&ndash;{{ site.time | date: '%y' }} Jonathan Dueck
				
			</a>
		</section>
		
		<section class="grid-6">
			<!--<h2>Social</h2>-->
			<a href="http://twitter.com/jondueck" class="ss-icon">twitter</a>
			<a href="http://dribbble.com/jondueck" class="ss-icon">dribbble</a>
<!--			<a href="http://vimeo.com/jondueck" class="ss-icon">vimeo</a>-->
			<a href="http://instagram.com/jondueck" class="ss-icon">instagram</a>
			<a href="http://www.rdio.com/people/JonDueck/" class="ss-icon">rdio</a>
<!--			<a href="http://www.rdio.com/people/JonDueck/" class="ss-icon">vscogrid</a>-->
			<a style="display: inline-block; border: 0; text-decoration: none;" href="http://jondueck.vsco.co?utm_source=user_grid&utm_medium=user_website&utm_campaign=link_to_grid"><img style="width: 18px; height: 18px; margin: 0px;" src="http://assets.vsco.co/assets/images/assets/Grid_black_16.png" alt="VSCO Grid" /></a>
		
		</section>		
		
		<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Karla:400,400i,700,700i">
		
	</footer>
	
<!--	<script type="text/javascript">
	WebFontConfig = { fontdeck: { id: '49213' } };
	
	(function() {
	  var wf = document.createElement('script');
	  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	  wf.type = 'text/javascript';
	  wf.async = 'true';
	  var s = document.getElementsByTagName('script')[0];
	  s.parentNode.insertBefore(wf, s);
	})();
	</script>-->
</div