<header class="site-header" role="banner">

  <div class="wrap">
    <div class="content">

      <div class="site-brand">
        <a href="/" class="site-title">Jon<span class="athan">athan</span> Dueck</a>
      </div>
      <nav class="site-nav" role="navigation">
          <a href="/work/" class="site-nav__link">Work</a>
          <a href="/writings/" class="site-nav__link">Writings</a>
          <a href="/" class="site-nav__link">About</a>
          <br>
          <!-- <span class="social-links" class="site-nav__link">
            <a href="http://twitter.com/{{site.meta.twitter}}" class="header__social-icon">
              <svg role="img"><title>Twitter</title><use xlink:href="/assets/icons.svg#twitter-icon"></use></svg>
            </a>
            <a href="https://dribbble.com/{{site.meta.dribbble}}" class="header__social-icon">
              <svg role="img"><title>Dribbble</title><use xlink:href="/assets/icons.svg#dribbble-icon"></use></svg>
            </a>
            <a href="http://instagram.com/{{site.meta.instagram}}" class="header__social-icon">
              <svg role="img"><title>Instagram</title><use xlink:href="/assets/icons.svg#instagram-icon"></use></svg>
            </a>
            <a href="https://open.spotify.com/user/{{site.meta.spotify}}/" class="header__social-icon">
              <svg role="img"><title>Spotify</title><use xlink:href="/assets/icons.svg#spotify-icon"></use></svg>
            </a>
          </span> -->
          <span style="opacity: 0.35">
          <a href="/" class="site-nav__link">Twitter</a>
          <a href="/" class="site-nav__link">Dribbble</a>
          <a href="/" class="site-nav__link">Instagram</a>
          <a href="/" class="site-nav__link">Spotify</a>
          <a href="/" class="site-nav__link">VSCO</a>
        </span>
      </nav>

    </div>
  </div>

</header>
