<header class="site-header">

  <div class="wrap">
    <div class="content" style="margin-top: 0;">

      <div class="site-brand">
        <strong><a href="/">Jonathan Dueck</a></strong>
        <br><span style="color: #0068ff; color: #3fd4ad;">_</span>
      </div>
      <nav class="site-nav">
        <div>
          <a href="/work/">Work</a>
          <a href="/writings/">Writings</a>
        </div>
        <div>
          <a href="/">About</a>
          <span class="social-links">
            <a href="http://twitter.com/jondueck" class="ss-icon">Twitter</a>&nbsp;&nbsp;
            <a href="http://dribbble.com/jondueck" class="ss-icon">Dribbble</a>&nbsp;&nbsp;
            <a href="http://instagram.com/jondueck" class="ss-icon">Instagram</a>&nbsp;&nbsp;
            <a href="http://www.rdio.com/people/JonDueck/" class="ss-icon">Rdio</a>
            <!-- <a href="https://open.spotify.com/user/dueckjon" class="ss-icon">Spotify</a> -->
          </span>
        </div>
      </nav>

    </div>
  </div>

</header>
