<meta content="width=device-width, initial-scale=1" name="viewport">
<title>{{site.title}} | {{title}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}">
<meta charset="UTF-8">
<meta name="title" content="{{site.title}} – {{title}}">

<meta name="description" content="{{ meta.description | fallback: current.body | strip_html | strip_newlines | truncate: 160 }}">

{% include 'includes/social' %}

<link rel="stylesheet" href="/default.css">

<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
<link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">

<link href="/assets/webfonts/ss-social.css" rel="stylesheet">

<script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>

<script>
  (function(d) {
    var config = {
      kitId: 'axl5ifo',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

{% if current.meta.vimeo %}
  <script src="/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function(){
      // Target your .container, .wrapper, .post, etc.
      $(".content").fitVids();
    });
  </script>
{% endif %}

<!--{% if meta.redirect %}
<meta http-equiv="refresh" content="0;url={{meta.redirect}}">
{% endif %}-->

<!--	<script async type="text/javascript">
WebFontConfig = { fontdeck: { id: '49213' } };

(function() {
var wf = document.createElement('script');
wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
wf.type = 'text/javascript';
wf.async = 'true';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(wf, s);
})();
</script>-->
