<a class="sr-only" href="#main">Skip to content</a>

<header class="wrap grid-wrap site-header" aria-label="primary site navigation">
  <div>
    <a href="/" class="site-name">Jon Dueck</a>
    {# {% if emoji %}{{ emoji }}{% endif %} #}
    {# {% if layout == 'home.njk' %}
    <span class="site-tagline">{{ site.tagline }}</span>
    {% endif %} #}
  </div>
  <menu>
    <li><a href="/journal/">Journal</a></li>
    <li><a href="/work/">Work</a></li>
    <li><a href="/elsewhere/">Elsewhere</a></li>
  </menu>
</header>