<header class="wrap grid-wrap site-header" aria-label="primary site navigation">
    <div>
      <a href="/" class="site-name">Jon Dueck</a>
      {# {% if emoji %}{{ emoji }}{% endif %} #}
      {# <span class="site-tagline">{{ site.tagline }}</span> #}
    </div>
    <menu>
      <li><a href="/journal/">Journal</a></li>
      <li><s>Work</s></li>
      <li><a href="/elsewhere/">Elsewhere</a><li>
    </menu>
  </header>