<header class="primary-header">
    
    <div class="wrap">
		
		<!--<div>
			<div style="width: 50%; float: left; text-align: left;">
				<strong>Jon Dueck</strong><br>
				<hr style="margin-left: 0; width: 2rem;">
			</div>
			<div style="width: 50%; float: left; text-align: left;">
				<div style="width: 50%; float: left;">
					About<br>
					Writings
				</div>
				<div style="width: 50%; float: left;">
					Twitter<br>
					Email
				</div>
			</div>
			
		</div>-->
		
		<nav>
			<ul>
				<li><a href="/work">Work</a></li>
				<li><a href="/"><img src="/assets/logo444.svg" /></a></li>
				<li><a href="/writings">Writings</a></li>
			</li>
		</nav>
		
     </div>
     
</header>