<header class="primary-header">
    
    <div class="wrap">
    
	    <!--<h1 class="site-title"><a href="/">{{site.title}}</a></h1>-->
	     
		<!--<nav>
			<ul class="page-menu">
			{% for page in site.pages %}
			  <li><a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a></li>
			{% endfor %}
			</ul>	
		</nav>-->
		
		<nav>
			<ul>
				<li><a href="../about">About</a></li>
				<li><img src="../assets/jondueck_x_redriver.svg" /></li>
				<li><a href="../work">Work</a></li>
			</li>
		</nav>
		
     </div>
     
</header>
