<meta property="og:url" content="{{permalink}}/" />

{% if type == 'post' %}
	<meta property="og:type" content="article" />
	{% else %}
	<meta property="og:type" content="blog"/>
{% endif %}
<meta property="og:site_name" content="{{site.title | escape}}" />
<meta property="og:title" content="{{ current.title }}" />
<meta property="og:description" content="{{ meta.description | fallback: current.body | strip_html | strip_newlines | truncate: 160 }}" />
{% if type == 'post' %}
	<meta property="article:author" content="https://www.facebook.com/jondueck/" />
	<meta property="article:publisher" content="https://www.facebook.com/jondueck/" />
	<meta property="article:published" content="{{ current.date }}" />
	{% for tagset in taxonomy %}
		{% for tag in tagset %}
			<meta property="article:tag" content="{{tag.value}}">
		{% endfor %}
	{% endfor %}
{% endif %}
<meta property="og:image" content="{{ meta.thumb }}">
<meta property="og:locale" content="en_CA">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.meta.twitter}}">
<meta name="twitter:creator" content="@{{site.meta.twitter}}">
<meta name="twitter:title" content="{{site.title}} – {{ title }}">
<meta name="twitter:description" content="{{ meta.description | fallback: current.body | strip_html | strip_newlines | truncate: 160 }}">
{% if current.meta.thumb %}
	<meta name="twitter:image" content="{{ current.meta.thumb }}">
{% endif %}

<a rel="author" href="https://plus.google.com/+JonDueckJonDueck/" aria-hidden="true"></a>
<link href="https://micro.blog/jondueck" rel="me" />
