<link rel="me" href="https://mastodon.social/@jondueck">
<link rel="me" href="https://twitter.com/jondueck">
<link rel="me" href="https://micro.blog/jondueck">
<link href="https://github.com/jondueck" rel="me">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">