.site-footer {
	@include row();
	line-height: #{2 * $line-height-unitless};
	margin-top: $line-height;
	margin-bottom: $line-height;
	font-size: #{0.875 * $base-font-size};
	.ss-icon {
		margin: 0.5rem;
	}
}

.copyright {
	@include span-columns(6 of 12);
}

.footer__social {
	@include span-columns(6 of 12);
	@include omega();
	text-align: right;
}

.copyright,
.footer__social {
	@media only screen and (max-width: 40rem) {
		width: 100%;
		text-align: center;
		float: none;
		@include omega();
	}
}
