a {
    color: inherit;
    text-decoration-color: var(--underline);
    text-decoration-thickness: 1px;

    &:hover {
        color: var(--primary-color);
        text-decoration-color: currentColor;
    }

    &[href^="http"] {
        &:hover {
            color: #1e69d9;
        }
    }

}


@import 'partials/variables', 'partials/reset', 'partials/fonts', 'partials/typography', 'partials/layout', 'modules/work', 'modules/lite-youtube';