---
title: December 2025 Dinner Party
layout: base.njk
image: /src/img/2025-12-06-og.jpg
emoji: '🍽️'
permalink: '/dinner/2025/12/'
---

<style>
    body {
        {# --background: #fbfbf3; #}
        font-family: ivypresto-text, serif;

        * {
            font-family: inherit;
        }
        --red: #E47872;
        --purple: #A48CE3;
    }
    #main {
        margin-block: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .site-header,
    .site-footer {
        display: none;
    }
    .credit {
        font-family: var(--sans);
        font-size: 0.625em;
        text-transform: uppercase;
    }
    .menu {
        list-style: none;
        {# list-style: '◦'; #}
        padding: 0;
        margin: 0;
    }
    .menu li {
        margin-bottom: 1lh;
    }
    .credit {
        display: block;
        opacity: 0.8;
    }
    header {
        margin-bottom: 1lh;
    }
    a.credit,
    .credit a {
        text-decoration: none;
    }
    a.credit:hover,
    .credit a:hover {
        text-decoration: wavy underline;
        color: var(--red);
    }
    {# .menu li::marker {
        display: block !important;
        width: 100%;
    }
    .menu li:nth-of-type(4n+1)::marker {
        color: red;
    }
    .menu li:nth-of-type(4n+1)::marker {
        color: grey;
    }
    .menu li:nth-of-type(4n+1)::marker {
        color: green;
    }
    .menu li:nth-of-type(4n+1)::marker {
        color: purple;
    } #}

    .garland{
        rotate: deg;
        letter-spacing: -0.5ch;

        :nth-child(4n+1) {
            color: var(--red);;
        }
        :nth-child(4n+2) {
            color: #ccc;
        }
        :nth-child(4n+3) {
            color: var(--primary-color);
            {# color: #84D6A1; #}
        }
        :nth-child(4n+4) {
            color: var(--purple);
        }
    }
</style>

<main class="wrap" style="text-align: center;">
    <header>
        <h1>6 December 2025</h1>
    <p>5:30</p>
    <p class="credit" style="line-height: 0.8; border: 1px solid; display: inline-block; padding: 1ch; border-radius: 50%;">12<br>—<br>12</p>
    </header>
    <p class="garland"><span>◦</span><span>◦</span><span>◦</span><span>◦</span></p>
    <ul class="menu">
    <li>Lamb Meatballs <a class="credit" href="https://coluhenry.substack.com/p/spiced-lamb-meatballs-with-charred">Colu Henry</a></li>
    <li>Tahini Sauce <span class="credit"><a href="https://mollybaz.com/club/all-recipes/">Molly Baz</a>, <em>Cook This Book</em></span></li>
    <li>Sticky Jammy Eggplant <span class="credit"><a href="https://edeneats.com/blogs/recipes">Eden Grinshpan</a>, <em>Tahini Baby</em></span></li>
    <li>Crispy, Crunchy Potato Chunks with Preserved Lemon Toum <span class="credit"><a href="https://edeneats.com/blogs/recipes">Eden Grinshpan</a>, <em>Tahini Baby</em></span></li>
    <li>Fennel and Sesame Shortbread Cookies <span class="credit"><a href="https://edeneats.com/blogs/recipes">Eden Grinshpan</a>, <em>Tahini Baby</em></span></li>
    <li>+</li>
    </ul>
</main>

<link rel="stylesheet" href="https://use.typekit.net/vay8ilm.css">