// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-size: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

//ul, ol {
//  padding-left: 1.4em;
//  overflow: hidden;
//}

.site-header,
.site-footer {
  ul, ol {
    list-style: none;
  }
}

picture {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html {
	font-size: 100%;
	font-weight: normal;
}
