//	Type

$serif			:		'warnock-pro', 'Calluna', georgia, serif;
$sans				:		karla, -apple-system, 'aktiv grotesk',Karla, $serif, Helvetica, sans-serif;
$mono				:		'source-code-pro', "Source Code Pro", monospace;

html {
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "liga" 1, "kern" 1;
	font-feature-settings: "liga" 1, "kern" 1;
	-webkit-font-kerning: normal;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: $black;
	font-family: $sans;
	font-size: $base-font-size;
	line-height: $line-height-unitless;
	@include media($medium) {
		font-size: 1.125rem;
		// line-height: 2.25rem;
	}
	@include media($small) {
		font-size: 1rem;
		line-height: 2.125rem;
	}
}

.post,
.post-content,
.page-content-new {
	font-family: $serif;
}

p a:not(img),
ul a:not(img) {
	text-decoration: underline;

	// border-bottom: 1.25px solid $green;
	// -webkit-box-shadow: inset 0 -1px 0 0 $green;
	// -moz-box-shadow: inset 0 -1px 0 0 $green;
	// box-shadow: inset 0 -1px 0 0 $green;
	// background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, #fb8171 95%);
	&:hover {
		color: $green;
	}
	// color: $link-text-color;
}

.site-header a,
.site-footer a {
	text-decoration: none;
}

ul a:not(img) {
	border-bottom-color: $darkgrey;
	border-bottom-width: 1px;
	&:hover {
		border-bottom-color: $green;
	}
}

.site-header a {
	border-bottom: none;
}

// Headings

h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
	font-weight: normal;
}

h1 {
	margin-bottom: $line-height;
	font-size: #{2*$base-font-size};
}

h2 {
	margin-bottom: $line-height;
	font-size: #{(1.2*$base-font-size)};
}

h3 {
	// font-size: 1.125rem;
	font-size: $base-font-size;
	color: tint($black, 50%);
	// font-style: italic;
}

h4 {
	font-size: #{0.75*$base-font-size};
	text-transform: uppercase;
	font-weight: bold;
}

p {
	margin-bottom: $line-height;
}

// Header & Menu

.is-current-page {
	border-bottom: 2px double $green;
}

.post-thumb img {
	border: none;
}

a:hover {
	color: $green;
}

.page-title {
	font-size: $base-font-size;
	font-weight: bold;
}

.post-title {
	text-align: center;
}

.post-header {
	&:after {
		content: "";
		width: 2rem;
		height: 2px;
		display: block;
		margin: 2rem auto;
		overflow: hidden;
		background: $green;
	}
}

.project-tags {
	list-style: none;
	padding: 0;
}

.project-tags li::after {
	content: ',';
}
.project-tags li:last-of-type::after {
	content: "";
}

.writing {
	font-family: $serif;
	h2, h3 {font-family: $sans; }
	@include span-columns(4 of 8);
	@include shift(2 of 8);
	&:after {
		clear:  both;
		content: "";
	}
}

blockquote {
	border-left: 0.1625rem solid $green;
	margin-left: 0;
	padding-left: 2rem;
	box-sizing: border-box;
	//	font-style: italic;
	margin: $line-height 0;
	padding-right: 2rem;
	font-family: $serif,"Apercu Mono Regular";
	font-style: italic;
}

code {
	font-family: $mono;
	background: $white;
	padding: 0.25rem;
	font-size: 80%;
}

pre {
	padding: 0.5rem;
	word-wrap: break-word;
	white-space: pre-wrap;
	margin: 2rem 0;
}

ul, ol {
	margin-left: $line-height;
	margin-bottom: $line-height;
}

.pagination .inactive {
	cursor: auto;
	text-decoration: line-through;
}

footer .grid-6:last-of-type {
	text-align: right;
}

.pagination, .back-to {
	text-align: center;
	border-bottom: none;
}

.is-current-page {
	color: $green;
}

.project-information {
	overflow: hidden;
}

.project-preview {
	h2 {
		line-height: 3rem;
	}
	.project-tags, .date,  .work-location {
		line-height: 1.5rem;
	}
	.date {
		margin-top: -0.5rem;
	}
}

.site-header,
.site-footer {
	// font-weight: 300;
	font-size: 1rem;
	font-family: $sans;
	letter-spacing: -0.02rem;
}

.project-preview {
	font-family: $sans;
	letter-spacing: -0.02rem;
}

.project-information {
	font-family: $sans;
	letter-spacing: -0.02rem;
	font-size: 1rem;
	ul {
		margin-left: 0;
	}
}

// Footnotes
*[rel="footnote"] {
	font-size: 75%;
	border-bottom: none;
	opacity: 0.5;
}

.project-year__year h2 {
	margin-top: 0;
}
