<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- if layout == "home.njk" -%}
  <title>{{ site.title }} | {{ title or metadata.title }}</title>
  {%- else -%}
  <title>{{ title or metadata.title }} | {{ site.title }}</title>
  {%- endif -%}
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="stylesheet" href="/src/css/style.css">
  <meta name="view-transition" content="same-origin" />
  {% include 'social.njk' %}
  {% include 'favicons.njk' %}
</head>

<body id="{{ page.fileSlug }}">

  {% include 'header.njk' %}

  <main id="main">
    {{ content | safe }}
  </main>

  {% include 'footer.njk' %}

</body>

</html>