<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | {{ site.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="stylesheet" href="/src/css/style.css">
  {% include 'social.njk' %}
  {% include 'favicons.njk' %}
</head>

<body>

  {% include 'header.njk' %}

  <main>
    {{ content | safe }}
  </main>

  {% include 'footer.njk' %}

</body>

</html>