{% capture content %}

	{% if type == "post" %}
	<section class="content writing" role="article">
		<header class="article__header"
			<img src="{{meta.thumb.value}}" />

			<h1>{{title}}</h1>
			<center>{{ current.date | date: '%-d %B %Y'}}</center>
			<ul class="project_data">
				{% for tag in taxonomy.tags %}
				  <li>
				    <a href="{{ tag.url }}">{{ tag.value }}</a>
				  </li>
				{% endfor %}
			</ul>
		</header>

	{% endif %}

	{{ body }}

	{% if type == "post" %}

		{% if next or previous %}
	    <div class="pagination">
	      {% if previous %}
	        <a href="{{ previous.url }}" class="older">Older</a>
	      {% else %}
	        <span class="inactive">Older</span>
	      {% endif %}

	      <span>&middot;</span>

	      {% if next %}
	        <a href="{{ next.url }}" class="newer">Newer</a>
	      {% else %}
	        <span class="inactive">Newer</span>
	      {% endif %}
	    </div>
  	{% endif %}

	{% else %}

	<section class="content ">

	{% comment %} Loop through any posts and show an excerpt {% endcomment %}

		<section class="homepage_writings">

			{% for post in posts %}

				<article class="post-preview home-writings">
					<span class="post-preview-date">{{post.date | date: "%d %b %Y"}}</span>

					<a class="post-preview-title" href=
						{% if post.meta.redirect%}
							"{{post.meta.redirect.value}}"
						{% else %}
							"{{post.url}}"
						{% endif %}
					>

						{{post.title}}

						{% if post.meta.external == 'Medium' %}
							<img src="/assets/icons/medium.svg" class="external-icon" alt="on Medium">
						{% endif %}
						{% if post.meta.external == 'Day One' %}
							<img src="/assets/icons/dayone.svg" class="external-icon" alt="on Day One">
						{% endif %}

					</a>

				</article>

			{% else %}
				<p>¯\_(ツ)_/¯</p>
				<p>CAN'T FIND POSTS</p>
				<p>:(</p>
			{% endfor %}

			<h2>Here’s more:</h2>

			<p><a href="/quotes/">Quotes</a> &ndash;Things that others said better than me</p>
			<p><a href="/toolbox/">Toolbox</a> &ndash; A list of some of the tools I use everyday.</p>

		</section>

	{% endif %}

	{% if parent %}
		<p class="back-to"><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
	{% endif %}

	</section><!-- /content -->
{% endcapture %}

{% include 'layouts/default' %}
