{% capture content %}

	<section>
		<div class="side-content">
			<h1 class="page-title">{{ title }}</h1>
		</div>

		<div class="page-content-new">
			{{ body }}

			{% for post in posts %}

				<article class="post-preview home-writings">
					<span class="post-preview-date">{{post.date | date: "%d %b %Y"}}</span>

					<a class="post-preview-title" href=
						{% if post.meta.redirect%}
							"{{post.meta.redirect.value}}"
						{% else %}
							"{{post.url}}"
						{% endif %}
					>

						{{post.title}}

						{% if post.meta.external == 'Medium' %}
							<img src="/assets/icons/medium.svg" class="external-icon" alt="on Medium">
						{% endif %}
						{% if post.meta.external == 'Day One' %}
							<img src="/assets/icons/dayone.svg" class="external-icon" alt="on Day One">
						{% endif %}

					</a>

				</article>

			{% else %}
				<p>¯\_(ツ)_/¯</p>
				<p>CAN'T FIND POSTS</p>
				<p>:(</p>
			{% endfor %}

			<h2>Here’s more:</h2>

			<p><a href="/quotes/">Quotes</a> &ndash;Things that others said better than me</p>
			<p><a href="/toolbox/">Toolbox</a> &ndash; A list of some of the tools I use everyday.</p>

		</div>

	</section><!-- /content -->
{% endcapture %}

{% include 'layouts/default' %}
