<!DOCTYPE html>

<!--=====================================================================
	Made with much love by Jon Dueck of Collectif in the Great White North.
======================================================================-->

{% capture html %}
<html lang="en-ca">

	<head>
		{% include 'includes/head' %}
	</head>

	<body>

		{% include 'includes/header' %}

		<main class="wrap">

			{{ content }}

			{% include 'includes/comments' %}

		</main>

		{% include 'includes/footer' %}

	</body>

</html>
{% endcapture %}{{ html | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}
