<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="page_{{ page.title | slugify }}" {% if page.bg %}style="background-color:  {{page.bg}};" {% endif %}>

    {% include header.html %}

    <main class="wrapper grid-wrap row {% if page.layout == 'post' %}h-entry{% endif%}">

      {% if page.hero  %}
        <img src="{{ page.hero }}" alt="Photo of Jon Dueck by {{ page.photo_credit }}" class="banner">
      {% endif %}

      <header class="side-content">

        {% if page.categories.size > 0 %}
          {% if page.layout == 'post' and page.collection == 'journal' %}
            <span class="h4 post-cat--{{ page.categories }}">{{ page.categories }}</span>
          {% endif %}
        {% endif %}

        <h1 class="side-title">{{ page.title }}</h1>

        <div class="meta">
          {% if page.collection == 'work' %}
            <time>{{ page.date | date: "%Y"}}</time><br>
            <span>{{ page.location }}</span>
          {% else %}
            <time datetime="{{ page.date }}">{{ page.date | date: "%d %B %Y"}}</time>
          {% endif %}
        </div>

        {% if page.updated %}
          <br><em class="updated">Updated <time datetime="{{ page.last_modified_at }}">{{ page.last_modified_at | date: '%d %B %Y'}}</time></em>
        {% endif %}

      </header>

      <div class="main-content">

        {{ content }}

        <!-- {% if page.title == 'About' %}
          <div class="home-work-lists">
            <div class="home-work-list">
              <p>I've done</p>
              <ul>
                {% for item in page.work_done %}
                <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="home-work-list">
              <p>I want to do</p>
              <ul>
                {% for item in page.work_to_do %}
                <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %} -->


      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
