<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page_{{ page.title | slugify }}">

    {% include header.html %}

    {% if page.title == 'About' %}
      <div class="wrapper">
        <img src="{{ page.hero }}" alt="Photo of Jon Dueck by {{ page.photo_credit }}" class="banner">
      </div>
    {% endif %}

    <main class="wrapper row">

      <header class="side-content">

        {% if page.categories.size > 0 %}
          {% if page.layout == 'post' & page.collection == 'journal' %}
            <span class="h4 post-cat--highlighted">{{ page.categories }}</span>
          {% endif %}
        {% endif %}

        {% comment %}
        {% if page.categories contains "highlighted" or page.categories contains " highlighted " %}
          <span class="h4 post-cat--highlighted">Highlighted</span>
        {% endif %}
        {% endcomment %}

        <h1 class="side-title">{{ page.title }}</h1>

        <span class="meta">
          {% if page.collection == 'work' %}
            {{ page.date | date: "%Y"}}
          {% else %}
            {{ page.date | date: "%d %B %Y"}}
          {% endif %}
        </span>

        {% if page.updated %}
          <br><em class="updated">Updated {{ page.last_modified_at | date: '%d %B %Y'}}</em>
        {% endif %}

      </header>

      <div class="main-content">

        <!-- {% if page.layout == 'post' or page.layout == 'project' %}
          <h1>{{ page.title }}</h1>
        {% endif %} -->

        {{ content }}

      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
