---
layout: base.njk
---

<img class="wrap banner-image" src="{{ banner }}">


<div class="wrap grid-wrap">
    <header class="page-header">
        <h1 class="page-title">About</h1>
    </header>

    <div class="page.content">
        {{ content | safe }}
    </div>

</div>