---
layout: base.njk
---

<div class="wrap grid-wrap">
    <header class="page-header">
        <h1 class="page-title">{{ title }}</h1>
        {% if subtitle %}
            <span class="page-subtitle meta-text">{{ subtitle }}</span>
        {% endif %}
        {% if date %}
            <time datetime="{{ page.date }}" class="meta-text">Updated {{ page.date | readableDate }}</time>
        {% endif %}
    </header>

    <div class="page-content">
        {{ content | safe }}
    </div>

</div>