---
layout: base.njk
---

<style>
    :root {
    --primary-color: #D90404;
    --body-color: #D90404;
    }
    .site-header menu,
    .site-name {
        display: none;
    }
    .ingredients {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 1em;
    }
    .ingredients li {
        margin: 0;
        padding: 1ch 0;
        border-bottom: 1px dotted currentColor;
    }
    .ingredients li:last-of-type {
        border-bottom: 0;
    }
    .ingredients small {
        opacity: 0.75;
        font-style: italic;
    }
    .ingredients[aria-label]:before{
        content:attr(aria-label);
        font-family: var(--sans);
        font-weight:bold;
        border-bottom: 1px solid;
        width: 100%;
        display: block;
    }
    body:before {
        content: '';
        height: 1rem;
        width: 100%;
        position: fixed;
        overflow: hidden;
        background-image: url(/src/img/checker.svg);
        background-size: contain;
        background-repeat: repeat;
    }
    @media (min-width: 720px) {
        .menu {
            margin-inline: auto;
            width: 50ch;
        }
    }
    .site-footer > * {
        display: none;
    }
    @media (prefers-color-scheme: dark) {
        :root {
        --background: #320101;
        --body-color: var(--white);
        }
    }
    h1 {
        text-transform: uppercase;
        letter-spacing: -0.1em;
    }
    .stats-box {
        display: grid;
        grid-gap: 1ch;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .stat-feature {
        display: block;
        font-size: 3em;
        letter-spacing: -0.03em;
    }
    main {
        display: flex;
        align-items: center;
    }
    .homegrown {
        border: 1px solid;
        padding: 0.5ch 1ch;
        border-radius: 50%;
        font-style: normal;
        font-size: 60%;
        text-transform: uppercase;
        font-family: var(--sans);
        font-style: italic;
    }

</style>

<div class="wrap">
    <img src="/src/img/pizza peel.png" alt="" height="300" style="margin-inline: auto; position: absolute; top: 0; left: 0; right: 0; ">


    {# <span>Townsend</span> #}
    <section class="menu">
        <div style="text-align: center; font-family: var(--sans); text-transform: uppercase;">
            <span style="height: 200px; display: block">&nbsp;</span>
            <span>Saturday, 16 September</span><br>
            <span>&#9662;</span><br>
            <span>6:00</span><br>
            <span>&#9662;&#9662;</span><br>
            <span>Townsend Dr</span>
        </div>
        <br><br>

        <div class="stats-box">
            <div class="stat">
                <span class="stat-feature">30</span>
                <span>Pizzas This Year</span>
            </div>
            <div class="stat">
                <span class="stat-feature">11</span>
                <span>Pizzas Last Party</span>
            </div>
        </div>
        <br><br>

        <h2>Ingredients</h2><br>

        <ul class="ingredients" aria-label="Dough">
            <li><details>
                <summary>Classic Dough</summary>
                <a href="https://ooni.com/blogs/recipes/classic-pizza-dough-how-to-make-it-perfect">Link</a>
                <small>Flour, Yeast, Salt, Water</small>
            </details></li>
            <li><details>
                <summary>Gluten-Free* Dough</summary>
                <a href="https://ca.ooni.com/blogs/recipes/gluten-free-pizza-dough">Link</a>
                <small>Gluten-Free Flour, Yeast, Salt, Water, Olive Oil</small>
            </details></li>
        </ul>

        <ul class="ingredients" aria-label="Sauce">
            <li><a href="https://www.delucaswinnipeg.ca/tomato-sauces-purees/de-luca-s-pizza-sauce-12-375ml-sc3550">De Luca’s Tomato Sauce</a></li>
        </ul>
        <ul class="ingredients" aria-label="Cheese">
            <li>Mozzarella</li>
            {# <li>Feta</li> #}
        </ul>
        <ul class="ingredients" aria-label="Meat">
            <li>Pepperoni</li>
            <li>Bacon</li>
            <li>Chicken</li>
            <li><em>Tocino?</em></li>
            <li><em>Something with gochujang?</em></li>
        </ul>
        <ul class="ingredients" aria-label="Veg">
            <li>Green Bell Peppers</li>
            <li>Red Onion</li>
            <li>Roasted Red Peppers</li>
            <li>Sun-Dried Tomatoes</li>
            {# <li><em>Homegrown</em> Spinach</li> #}
            <li><em class="homegrown">Home-grown</em> Basil</li>
            <li>Mushrooms</li>
            {# <li>Pineapple?</li> #}
        </ul>

        <ul class="ingredients" aria-label="Miscellanea">
            <li>Barbecue Sauce</li>
            <li>Gochujang</li>
            <li>Dried Herbs</li>
        </ul>

        <hr style="background-image: url('/src/img/checker.svg'); height: 1em; background-repeat: repeat-x; background-size: contain; border: 0 none;">

        <h2>Pizzas</h2>
        <ul class="ingredients">
            <li>
                <details>
                <summary>Margherita</summary>
                <small>Tomato Sauce, Mozzarella, Basil</small>
            </details>
            </li>
            <li>Pepperoni</li>
            <li><details><summary>Barbecue Chicken</summary><small>Tomato Sauce/Barbecue Sauce, Mozzarella, Chicken, Red Onions, Sun-Dried Tomatoes</small></details></li>
            <li><details><summary>Bacon & Spinach</summary><small>Tomato Sauce, Mozarella, Bacon, Spinach, Feta</small></details></li>
            <li>More!</li>

        </ul>

    </section>

</div>

