---
layout: base.njk
---

<style>
    body {
        --theme: var(--secondary-color);
        --theme-contrast: #e93e3e;
    }
    .sticker {
        filter: drop-shadow(0.5px 0.5px 0.5px var(--black) );
        transition-duration: 0.25s;
        will-change: filter;
        {# transform: rotate(-2deg); #}
        width: fit-content;
        margin-inline: auto;
    }
    .cal {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        @media (min-width: 45rem) {
            grid-template-columns: repeat(4, 1fr);
        }
        width: 100% !important;
        padding-inline: 1em;
        gap: 1em;
        {# gap: 0 !important; #}

    }
    .cal-item {
        padding: 1lh;
        border: 1px solid;
        {# aspect-ratio: 1/1; #}
        min-height: 50vh;
        & > * + * {
            margin-block-start: 1em;
        }

        grid-template-areas: "top " "mid" "bot";
        display: grid;
        grid-template-rows: auto 1fr auto;\
        &:nth-of-type(even) {
            background: var(--secondary-color);
        }

    }
    .cal-date {
        grid-area: top;
    }
    .grid-content {
        grid-area: mid;
    }
    .cal-stats {
        grid-area: bot;
        display: flex;
        text-align: center;
        justify-content: space-around;
        justify-content: space-evenly;
        width: 100%;
    }

    .cal-stat,
    .stat {
        flex: 1 1 auto;
    }

    .cal-content ul {
        margin: 0;
        padding: 0;
        li {
            border-bottom: 1px solid;
            min-height: 1lh;

        }
    }

    .sched {
        margin-inline: auto;
        display: grid;
        grid-gap: 1em;
        width: 90%;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        @media (min-width: 45rem) {
            grid-template-columns: repeat(4, 1fr);
        }

        & .active {
            background: var(--theme);
            color: var(--background);
        }
    }

    .sched-item {
        min-height: 25vw;
        padding: 1lh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--theme);
        flex-direction: column;
        gap: 1lh;
    }
    {# .sticker:hover {
        filter: drop-shadow(1px 1px 1px var(--black) );
    } #}

    {# .photo-grid {
        gap: 0 !important;
        img {
            margin-top: -1em;
        }
    } #}
</style>

<header class="pizza-header" id="header">
    <img src="/src/img/pizza peel.png" alt="" height="300" class="peel">

    <img src="/src/img/pizza/pizza.svg" alt="Pizza 2026" style="margin-top: calc(-0.75 * var(--peel)); z-index: 1; position: relative; width: 90vw; max-width: 80rem;">
</header>

<div class="wrap">

    <center>
        {# <span>2026</span> #}
        {# <img src="/src/img/pizza/pizza_party.svg" alt="Pizza Party" class="sticker"> #}
        <span class="homegrown">Since 2023</span><br>
        {# <span class="h1 date-title sr-only">Pizza 2026</span> #}
        <p style="text-transform: uppercase; padding-top: 1lh; font-size: 1.5rem; letter-spacing: 0.05em; line-height: 2;">
            <span class="no-break">New summer</span>,<br>
            <span class="no-break">New pizzas</span>,<br>
            <span class="no-break">New activities</span>,<br>
            <span class="no-break">New friends</span>,<br>
            <a href="https://youtu.be/5IsSpAOD6K8?t=103">Same as it ever was</a><br>
            <a href="https://youtu.be/FJx2x0p1U-M?" style="opacity: 0.75">Same as it ever was</a><br>
            <a href="https://youtu.be/FJx2x0p1U-M?" style="opacity: 0.5">Same as it ever was</a><br>
            <a href="https://youtu.be/FJx2x0p1U-M?" style="opacity: 0.25">Same as it ever was</a>
        </p>
        {# <span class="slogan" style="color: var(--theme-contrast);">4 <span class="no-break">more slices</span>.</span></span> #}
        {# <span class="slogan">Once more <span class="no-break">with feeling</span></span> #}
        {# <span class="slogan">Never for money, <span class="no-break">always for love</span></span> #}
        {# <span class="slogan">Real love, <span class="no-break">no fantasy</span></span> #}
        {# <span class="slogan">Pick me up and <span class="no-break">turn me ’round.</span></span> #}
        
    </center>
</div>

    {# <section class="wrap forecast" style="text-align: center;">
        <div class="grid-auto" style="display: grid; grid-gap: var(--line); grid-template-columns: repeat(auto-fit, minmax(min(100%, 5ch), 1fr));">
            <div class="stat">
                <dd class="stat-feature">16</dd>
                <dt>Adults RSVP’d</dt>
            </div>
            <div class="stat">
                <dd class="stat-feature">7</dd>
                <dt>Children</dt>
            </div>
        </div>
    </section> #}
 
    {# <center>
        <img src="/src/img/pizza/menu.svg" alt="Menu" style="height: 3em;">
        <p>Pizzas to be announced.</p>
    </center> #}


    {% if pizzas %}
        <section class="pizzas" style="display: none;">
            {# <h2>Featured Pizzas</h2> #}
            <ul>
                {% for pizza in pizzas %}
                <li class="pizza-item">
                    <h3>“{{ pizza.name }}”</h3>
                    <ul class="pizza-item-ingredients">
                    {% for ingredient in pizza.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}   
</div>

<section class="sched">
    <details class="sched-item">
        <summary>
            <span class="homegrown">№ 1</span><br>
            <h3>13 June</h3>
        </summary>
        <div>
            <img src="/src/img/pizza/menu.svg" alt="Menu" style="height: 2em;" class="sticker">
            <div>
                <h3>“Classics”</h3>
                <ul style="list-style: none; padding: 0; margin: 0;">
                    <li>Pepperoni</li>
                    <li>Deluxe</li>
                    <li>Ham & Pineapple</li>
                    <li>Bacon & Pineapple & Jalapeño</li>
                    <li>Peach & Prosciutto</li>
                </ul>
            </div>
        </div>
        <div>
            <img src="/src/img/pizza/fun.svg" alt="Fun" style="height: 1.75em;" class="sticker">
            <h3>Taskmaster</h3>
            <p>Winner: Timmy</p>
        </div>
        <div class="cal-stats">
            <div class="stat">
                <dd class="stat-feature">18</dd>
                <dt>Adults</dt>
            </div>
            <div class="stat">
                <dd class="stat-feature">6</dd>
                <dt>Kids</dt>
            </div>
            <div class="stat">
                <dd class="stat-feature">19</dd>
                <dt>Pizzas</dt>
            </div>
        </div>
    </details>
    <div class="sched-item active" >
        <div>
            <span class="homegrown">№ 2</span><br>
            <h3>4 July</h3>
        </div>
        <div>
            <img src="/src/img/pizza/menu.svg" alt="Menu" style="height: 2em;" class="sticker">
            <h3>“Internationals”</h3>
            <ul style="list-style: none; padding: 0; margin: 0;">
                <li>Taco</li>
                <li>Lumpia</li>
                <li>Pierogi</li>
                <li>Chimichurri</li>
            </ul>
        </div>
        <div>
            <img src="/src/img/pizza/fun.svg" alt="Fun" style="height: 1.75em;" class="sticker">
            <p>Button Making</p>
        </div>
        <div class="cal-stats">
            <div class="stat">
                <dd class="stat-feature">5<sup style="font-size: 0.5em;">+1</sup></dd>
                <dt>RSVP’d</dt>
            </div>
            <div class="stat">
                <dd class="stat-feature">27°</dd>
                <dt>⛆60%</dt>
            </div>
        </div>
        <div class="cal-stats">
            <div class="stat">
                <dd >0</dd>
                <dt>Salads</dt>
            </div>
            <div class="stat">
                <dd>0</dd>
                <dt>Sides</dt>
            </div>
            <div class="stat">
                <dd>0</dd>
                <dt>Deserts</dt>
            </div>
            <div class="stat">
                <dd>0</dd>
                <dt>Drinks</dt>
            </div>
        </div>
        {# <div>
            <img src="/src/img/pizza/menu.svg" alt="Menu" style="height: 2em;" class="sticker">
            <p>TBA</p>
        </div>
        <div>
            <img src="/src/img/pizza/fun.svg" alt="Fun" style="height: 1.75em;" class="sticker">
            <p>TBA</p>
        </div> #}
    </div>
    <div class="sched-item">
        <div>
            <span class="homegrown">№ 3</span><br>
            <h3>8 August?</h3>
        </div>
        {# <div>
            <img src="/src/img/pizza/menu.svg" alt="Menu" style="height: 2em;" class="sticker">
            <p>TBA</p>
        </div>
        <div>
            <img src="/src/img/pizza/fun.svg" alt="Fun" style="height: 1.75em;" class="sticker">
            <p>TBA</p>
        </div> #}
    </div>
    <div class="sched-item">
        <div>
            <span class="homegrown">№ 4</span><br>
            <h3>5 September?</h3>
        </div>
       
        <div>
            <img src="/src/img/pizza/menu.svg" alt="Menu" style="height: 2em;" class="sticker">
            <p>“All-Stars”</p>
        </div>
        {# <div>
            <img src="/src/img/pizza/fun.svg" alt="Fun" style="height: 1.75em;" class="sticker">
            <p>TBA</p>
        </div> #}
     </div>
</section>

{# <section class="wrap photo-grid">
    <img src="/src/img/pizza/1E3A7476.jpg" alt="">
    <img src="/src/img/pizza/1E3A7497.jpg" alt="">
    <img src="/src/img/pizza/1E3A7524.jpg" alt="">
</section> #}

{# <div class="cal">
    <div class="cal-item">
        <div class="cal-date">13 June?</div>
        <div class="cal-content ">
            <ul style="list-style: none;">
                <li class="">?</li>
                <li class="">?</li>
                <li class="">?</li>
                <li class="">?</li>
            </ul>
        </div>
        <div class="cal-stats">
            <div class="stat">
                <dd class="stat-feature">0</dd>
                <dt>RSVP’d</dt>
            </div>
            <div class="stat">
                <dd class="stat-feature">0°</dd>
                <dt></dt>
            </div>
            
        </div>
    </div>
    <div class="cal-item">
        <div class="cal-date">4 July?</div>
        <div class="cal-content ">
            <ul style="list-style: none;">
                <li class="">?</li>
                <li class="">?</li>
                <li class="">?</li>
                <li class="">?</li>
            </ul>
        </div>
        <div class="cal-stats">
        </div>
    </div>
    <div class="cal-item">
        <div class="cal-date">8 August?</div>
        <div class="cal-content ">
            <ul style="list-style: none;">
                <li class="">?</li>
                <li class="">?</li>
                <li class="">?</li>
                <li class="">?</li>
            </ul>
        </div>
        <div class="cal-stats">
        </div>
    </div>
    <div class="cal-item">
        <div class="cal-date">5 September?</div>
        <div class="cal-content ">
            <ul style="list-style: none;">
                <li class="">?</li>
                <li class="">?</li>
                <li class="">?</li>
                <li class="">?</li>
            </ul>
        </div>
        <div class="cal-stats">
        </div>
    </div>
</div> #}

 {# <section class="wrap forecast" style="text-align: center;">
    <img src="/src/img/pizza/menu.svg" alt="Menu" style="height: 3em;" class="sticker">
    <p>Pizzas to be announced.</p>
        <p>Bring a <a href="/recipes">side</a> or a dessert, if you’d like. <br> Sign up in the Messenger group, or let me know.</p>
        <div class="grid-auto" style="display: grid; grid-gap: var(--line); grid-template-columns: repeat(auto-fit, minmax(min(100%, 5ch), 1fr));">
            <div class="stat">
                <dd class="stat-feature">1</dd>
                <dt>Side</dt>
            </div>
            <div class="stat">
                <dd class="stat-feature">1</dd>
                <dt>Salad</dt>
            </div>
            <div class="stat">
                <dd class="stat-feature">2</dd>
                <dt>Dessert</dt>
            </div>
        </div>
    </section>   #}

    {# <section class="wrap" style="text-align: center;">
    <img src="/src/img/pizza/fun.svg" alt="Fun" style="height: 3em;" class="sticker">
    <p>TBA</p>
    </section>     #}

    {# <section class="wrap forecast" style="text-align: center; display: grid; grid-gap: var(--line); grid-template-columns: repeat(auto-fit, minmax(min(100%, 5ch), 1fr));">
        <div class="stat">
            <dd class="stat-feature">27°</dd>
            <dt><small>Cance of rain in the morning</small></dt>
        </div>
        <div class="stat">
            <dd class="stat-feature">14</dd>
            <dt>Adults</dt>
        </div>
        <div class="stat">
            <dd class="stat-feature">5</dd>
            <dt>Kids</dt>
        </div>
    </section>    #}

{# <blockquote class="slogan">
    <p>“Still, I have the <a href="https://youtu.be/o0so75T7GpI?si=kk2ZSqns9ToEr__u&t=39">warmth of the sun</a> <br> It won’t ever die”</p>
</blockquote>    #}

<div class="wrap">

        <dl class="stats-box" style="grid-template-columns: auto;">
                <div class="stat">
                    <dd class="stat-feature">{{ pizza_year }}</dd>
                    <dt>Pizzas This Year</dt>
                </div>
            {% if pizza_party %}
            <div class="stat">
                <dd class="stat-feature">{{ pizza_party }}</dd>
                <dt>Pizzas Last Party<br><small>{{pizza_party_date}}</small></dt>
            </div>
            {% endif %}
            {% if pizza_last_year %}
            <div class="stat">
                <dd class="stat-feature">{{ pizza_last_year }}</dd>

                <dt>Pizzas Last Year</dt>
            </div>
            {% endif %}
        </dl>
    </div>

    <div>
        <h3>Let’s Make a <a href="https://en.wikipedia.org/wiki/Zine">Zine</a>?</h3>
    </div>

    <div>
        <img src="/src/img/pizza/rogh.svg" alt="relax or go home" style="display: block; width: 100%; background: var(--background);">
    </div>

</div>


{# {% if next_party %}
    <div class="next-party">
        
        <svg viewBox="0 0 500 150" class="arc">
            <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" class="arc-curve"/>
            <text width="500">
            <textPath xlink:href="#curve" class="arc-text" style="font-size: 2.75em;">
                Next Pizza <a href="https://youtu.be/mxvKuEWeVg8">Party</a
            </textPath>
            </text>
        </svg>

        <span>&#9662;</span><br>
        <span class="h1">{{ next_party }}</span><br>
    </div>
{% endif %} #}

{# <footer class="pizza-footer">
</footer> #}

<link rel="stylesheet" href="https://use.typekit.net/luq0jvf.css">