---
layout: base.njk
---

{# {% if banner %}
<img src="{{ banner }}" alt="" class="post-banner wrap">
{% endif %} #}

<article class="wrap grid-wrap" style="view-transition-name: {{page.fileSlug}}">
    <header class="post-header">
        <div class="post-header-content">
            <h1 class="post-title">{{ title }}</h1>
            {% if subtitle %}
                <span class="meta-text post-subtitle">{{ subtitle }}</span>
            {% endif %}
            <time datetime="{{ page.date }}" class="post-date">{{ page.date | readableDate }}</time>            
        </div>
    </header>
    <div class="post-content">
        {{ content | safe }}
    </div>
</article>