{% capture content %}
<section class="content work">
	
	<div class="container">
	  <h1>Jon Dueck</h1>
	  <h2>He went to school</h2>
	  <h2>and did these designs</h2>
	  <h2>good work, jd</h2>
	  <img src="http://jondueck.dev/assets/posters.png" alt=" " />
	  <img src="http://jondueck.dev/assets/infographic.png" alt=" " />
	  <img src="http://jondueck.dev/assets/jonnys.jpg" alt=" " />
	  <img src="http://jondueck.dev/assets/cyclesquatch_multi.jpg" alt=" " />
	  <img src="http://jondueck.dev/assets/boylan.jpg" alt=" " />
	  <img src="http://jondueck.dev/assets/jondueck_x_redriver.svg" alt=" " />
	</div>
	
</section><!-- /content -->
{% endcapture %}

{% include 'layouts/rrc' %}