{% capture content %}
<section class="content work">

	{% if type == "post" %}
		<article>
			<img src="{{meta.thumb.value}}" />
			<div class="project-information">
				<div class="grid-6">
					<p>{{title}}</p>
					<ul class="project-tags">
					{% for tag in taxonomy.tags %}
				    <li>
				    	<a href="{{ tag.url }}">{{ tag.value }}</a>
				    </li>
					{% endfor %}
					</ul>
				</div>

				<div style="float: right;">
					{% if meta.worklocation %}
						<p class="work-location"><!--Done at--> {{meta.worklocation.value}}</p>
					{% endif %}
					{{date | date: "%B %Y"}}
				</div>
			</div>
		</article>
	{% endif %}

	{% if pages %}
		{% comment %} Show subpages if there are any available {% endcomment %}
		<nav class="subpage-menu">
			{% for subpage in pages %}
			<a href="{{subpage.url}}">{{subpage.title}}</a>
			{% endfor %}
		</nav>

	{% endif %}

	{{ body }}

	{% if type == "post" %}

		{% if next or previous %}
	    <div class="pagination">
	    	{% if previous %}
        	<a href="{{ previous.url }}" class="older">Older</a>
      	{% else %}
        	<span class="inactive">Older</span>
				{% endif %}

	      <span>&middot;</span>

      	{% if next %}
        	<a href="{{ next.url }}" class="newer">Newer</a>
      	{% else %}
      	  <span class="inactive">Newer</span>
      	{% endif %}
	    </div>
		{% endif %}

	{% else %}

		{% comment %} Loop through any posts and show an excerpt {% endcomment %}
		{% for post in posts %}
			<article class="post-preview">
				<a href="{{post.url}}"><img class="post-thumb" src="{{ post.meta.thumb }}" /></a>

				<div class="project-information">
					<div class="grid-6">
						<p><a href="{{post.url}}"><h2>{{post.title}}</h2></a></p>

						<ul class="project-tags">
						{% for tag in post.taxonomy.tags %}
					    <li>
					    	<a href="{{ tag.url }}">{{ tag.value }}</a>
					    </li>
						{% endfor %}
						</ul>

					</div>
					<div style="float: right;">
						{% if post.meta.worklocation %}
							<p class="work-location"><!--Done at--> {{post.meta.worklocation}}</p>
						{% endif %}
						<span>{{post.date | date: "%B %Y"}}</span>
					</div>
				</div>

			</article>

			<img src="{{meta.thumb.value}}" />

		{% endfor %}

	{% endif %}

	{% if parent %}
		<p class="back-to"><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
	{% endif %}

</section><!-- /content -->
{% endcapture %}

{% include 'layouts/default' %}
