{% capture content %}
<section class="content work">
	
	{% if type == "post" %}
		
		<img src="{{meta.thumb.value}}" />
		
		<div class=".grid-golden-sm">
			<h2>{{title}}</h2>
			<ul class="project_data">
			{% for tag in taxonomy.tags %}
			    <li>
			        <a href="{{ tag.url }}">{{ tag.value }}</a>
			    </li>
			{% endfor %}
			</ul>
			
			{% if meta.worklocation %}
				
				<p>Done at {{meta.worklocation.value}}</p>
				
			{% endif %}
			
			{% if meta.contest_title %}
				<div class="twelvecol pricing contest">
					<div class="twelvecol">
						<img src="{{meta.contest_image.value}}" style="width: 100%;"/>
					</div>
				</div>
				
				<section class="padded">
					<h2>{{meta.contest_title.value}}</h2>
					
					<p>{{meta.contest_rules.value}}</p>
					
				</section>
				
				
			{% endif %}
			
			
		</div>
	{% endif %}
	
	{% if type == "post" %}
		<div class=".grid-golden-l">
	{% endif %}
		
		{% if pages %}
		{% comment %} Show subpages if there are any available {% endcomment %}
		
			<nav class="subpage-menu">
				{% for subpage in pages %}
				<a href="{{subpage.url}}">{{subpage.title}}</a>
				{% endfor %}
			</nav>
			
		{% endif %}
		
		{{ body }}
		
		{% if type == "post" %}
		
		<!--{% include 'includes/metadata' %}-->
		
		{% else %}
		
		{% comment %} Loop through any posts and show an excerpt {% endcomment %}
		{% for post in posts %}
			<article class="post-preview">
			<a href="{{post.url}}"><img class="post-thumb" src="{{ post.meta.thumb }}" /></a>
<!--			<h2><a href="{{post.url}}">{{post.title}}</a></h3>-->
			
			<div class=".grid-golden-sm">
				<h2>{{post.title}}</h2>
				<ul class="project_data">
				{% for tag in post.taxonomy.tags %}
				    <li>
				        <a href="{{ post.taxonomy.tag.url }}">{{ post.taxonomy.tag.value }}</a>
				    </li>
				{% endfor %}
				</ul>
				
				{% if post.meta.worklocation %}
					
					<p>Done at {{post.meta.worklocation}}</p>
					
				{% endif %}
				
			</div>
			
			
			</article>
			
			<img src="{{meta.thumb.value}}" />
			
						
		{% endfor %}
		
			<!--<div class="portfolio">
				<h2>Latest from Dribble</h2>
				<ul id="portfolio"></ul>
			</div>-->
			
		{% endif %}
		
		{% if parent %}
			<p class="back-to"><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
		{% endif %}
	
	{% if type == "post" %}
		</div>
	{% endif %}
	
	</section><!-- /content -->
{% endcapture %}

{% include 'layouts/default' %}