{% capture content %}
<section class="content work">

	<section>
		<div class="side-content">
			<h1 class="page-title">{{ title }}</h1>
			{% if type == "post" %}
			{% if meta.updated %}
				<span>Updated {{site.date | date: "%-d %B %Y"}}</span>
			{% else %}
				<span>{{ current.date | date: '%B %Y'}}</span><br>
			{% endif %}
			<br>
			{% for tag in taxonomy.tags %}
				<span class="work__tag">
					{{ tag.value }}
				</span>
			{% endfor %}
				<br>
				{% if meta.worklocation %}
					<span>At {{meta.worklocation}}</span>
				{% endif %}

				{% if next or previous %}
			    <div class="pagination">
			      {% if previous %}
			        <a href="{{ previous.url }}" class="pagination--older">&#139; Older</a>
			      {% else %}
			        <span class="pagination--older inactive">&#139; Older</span>
			      {% endif %}

			      {% if next %}
			        <a href="{{ next.url }}" class="pagination--newer">Newer &#155;</a>
			      {% else %}
			        <span class="pagination--newer inactive">Newer &#155;</span>
			      {% endif %}
			    </div>
			  {% endif %}

			{% endif %}

		</div>

		<div class="page-content">
			{{ body }}

			<div>
				{% for post in posts %}

					<article class="work-preview">
						<a href="{{ post.url }}">
							<img src="{{ post.meta.feature | fallback: '/assets/icons/placeholder.svg' }}" alt="">
							<h3 class="work-preview__title">{{ post.title }}</h3>
						</a>
					</article>

				{% endfor %}
			</div>

		</div>
	</section>

{% endcapture %}

{% include 'layouts/default' %}
